.menu_mobile {
    display: none;
}

figure {
    margin: 0 30px;
}

@media (max-width:1270px) {
    .container_portf span {
        font-size: 14px;
    }
    .container_portf small {
        font-size: 8px;
    }
}

@media (max-width:1200px) {
    .code h1 {
        font-size: 55px;
    }
    .welcome {
        font-size: 27px;
    }
    .span_hello {
        width: 130px;
    }
}

@media (max-width:1150px) {
    .acticle_two ul li {
        float: left;
        width: 33.33%;
    }
}

@media (max-width:1100px) {
    .code h1 {
        font-size: 50px;
    }
    .welcome {
        font-size: 25px;
    }
    .span_hello {
        width: 120px;
    }
}

@media (max-width:950px) {
    .contact_form>div>span{
        margin: 10px;
    }
    
    
    .contact_form h2{
        font-size: 20px;
    }
  .contact_form span>span,  .contact_form>div>span{
        font-size: 14px;
    }
    
    
    .code h1 {
        font-size: 45px;
    }
    .web_img img {
        width: 127px;
    }
    .span_hello {
        width: 108px;
    }
    .yurch_h2 {
        font-size: 25px;
        margin-top: -63px;
        margin-bottom: 20px;
    }
    .yurch_h2>span>span,
    .yurch_h2>span>strong,
    .summary_img h2 {
        font-size: 20px;
    }
    .summary {
        margin-top: 60px;
        padding: 40px;
    }
    .acticle_one {
        padding: 40px;
    }
    .head-summary {
        top: -60px;
        height: 73px;
        width: -webkit-calc(100% - 60px);
        width: -moz-calc(100% - 60px);
        width: calc(100% - 60px);
    }
    .summary:before {
        border-left: 60px solid transparent;
        border-bottom: 60px solid white;
        top: -60px;
    }
    .acticle_two {
        padding: 40px;
    }
    .summary_img {
        padding: 40px 37px;
    }
}

@media (max-width:850px) {
    .contact_form>div>span{
        display: block;
        text-align: left;
    }
    
    .article_three{
        border-width: 5px;
            padding: 20px;
    }
    .contact_form{
        padding: 15px;
    }  
    
    
    
    
    
    
    .code h1 {
        font-size: 40px;
    }
    .welcome {
        font-size: 20px;
    }
    .code {
        margin: 0;
    }
    .web_img img {
        margin-top: 0;
    }
    .span_hello {
        width: 95px;
    }
    .rgba_img small {
        display: none;
    }
   
 
    .menu_fix{
        right:5px;
    }
    .menu_aside {
        padding: 10px 6px;}
    .acticle_one{
        border-width:5px;
    }
    
}

@media (max-width:750px) {
    .code h1 {
        font-size: 35px;
    }
    .welcome {
        font-size: 18px;
    }
    .menu_main {
        display: none;
    }
    .menu_mobile {
        display: block;
    }
    body {
        padding: 0;
    }
    .span_hello {
        width: 85px;
    }
    .code {
        margin-top: 80px;
    }
}

@media (max-width:650px) {
    .row a[href="https://metrika.yandex.ru/stat/?id=39212090&from=informer"]{display:none}
    .code h1 {
        font-size: 30px;
    }
    .row img{
    margin-right: 5px;
    width: 45px;
}
    
    
    
    
    .welcome {
        font-size: 16px;
    }
    .web_img img {
        width: 115px;
    }
    .span_hello {
        width: 72px;
    }
    .yurch_h2>span {
        text-align: right;
    }
    .yurch_h2 {
        font-size: 20px;
    }
    .yurch_h2>span>span,
    .yurch_h2>span>strong {
        font-size: 16px;
    }
 
    .summary_img h2 {
        padding-left: 3px;
        padding-bottom: 0px;
    }
    .summary p>strong {
        font-size: 14px;
    }
    .summary p {
        margin: 10px 0;
        font-size: 14px;
    }
    figure img {
        width: 20%;
    }
    .prod {
        float: none;
        margin: 10px 3px;
    }
    .portfolio {
        margin: 3px;
        border: 6px solid #0d2565;
    }
    
    .n_header .n_hello {
    font-size: 100%;
}
}

@media (max-width:550px) {
    .contact_form>div>span{
        font-size: 14px;
    }   
    .row p{
        font-size: 12px;
    }
    .row img{
        width: 25px;
    }
    
    .code h1 {
        font-size: 30px;
    }
    .welcome {
        font-size: 14px;
    }
    .web_img img {
        width: 100px;
    }
    .yurch_h2 {
        font-size: 18px;
    }
    .yurch_h2>span>span,
    .yurch_h2>span>strong {
        font-size: 14px;
    }
    .summary p>strong {
        font-size: 13px;
    }
    .summary p {
        margin: 10px 0;
        font-size: 13px;
    }
    .summary {
        padding: 35px 20px;
    }
    .summary_img {
        padding: 35px 17px;
    }
    .acticle_one,
    .acticle_two {
        padding: 35px 20px;
    }
    .span_hello {
    width: 65px;
}
}

@media (max-width:470px) {
    
    .row p{
        font-size: 9px;
        
    }   
    .row img{
        display:none;
    }
    
    
    .summary:before {
        border-left: 40px solid transparent;
        border-bottom: 40px solid white;
        top: -40px;
    }
    .head-summary {
        top: -40px;
        height: 55px;
        width: -webkit-calc(100% - 60px);
        width: -moz-calc(100% - 60px);
        width: -webkit-calc(100% - 40px);
        width: -moz-calc(100% - 40px);
        width: calc(100% - 40px);
    }
    .yurch_h2 {
        margin-top: -40px;
    }
    .summary {
        margin-top: 40px;
    }
}

@media (max-width:450px) {
    .code h1 {
        font-size: 33px;
    }
    .welcome {
        font-size: 16px;
    }
    .web_img img {
        width: 100px;
    }
    .span_hello {
        width: 80px;
    }
}

@media (max-width:400px) {
    .mail_bottom{
        font-size: 12px;
    }
    .summary p {
        text-align: left;
    }
    figure img {
        width: 20%;
    }
    .acticle_one,
    .acticle_two {
        padding: 25px 15px;
    }
    .summary {
        padding: 15px 15px;
    }
    .summary_img {
        padding: 25px 15px;
    }
    .yurch_h2 {
        margin-top: -30px;
    }
    margin-bottom: 0;
}

@media (max-width:350px) {
    .code h1 {
        font-size: 25px;
    }
    .welcome {
        font-size: 14px;
    }
    .web_img img {
        width: 80px;
    }
    .summary p {
        margin: 10px 0;
        font-size: 12px;
    }
    .span_hello {
    width: 64px;
}
}

@media (max-width:315px) {
    body>* {
        display: none;
    }
    body {
        background-image: url('../img/cat.jpg');
    }
}


/*[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[height]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]*/

@media (max-height:550px) {
    .hello {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .n_header .n_hello {
    font-size: 100%;
}
    .web_img img {
        width: 110px;
    }
    .button {
        margin-top: 15px;
    }
}

@media (max-height:450px) {
    .contact_form h2{
        font-size: 20px;
    }
  .contact_form span>span,  .contact_form>div>span{
        font-size: 14px;
    }
    
    .contact_form>div>span {
  
    margin: 10px;
}
    .menu_main {
        display: block;
    }
    .menu_mobile {
        display: none;
    }
    .hello {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .code,
    .web_img img {
        margin-top: 0;
    }
    .button {
        margin-top: 15px;
    }
    body {
        padding-left: 60px;
    }
    .code {
        margin-top: 0;
    }
    .mini_menu {
        width: 60px;
        margin-right: -20px;
    }
    .html img,
    .css img {
        width: 60%;
    }
    .html,
    .css {
        font-size: 13px;
        font-weight: 600;
        padding-top: 10px;
    }
    .social>div {
        width: 20px;
        height: 20px;
        margin-top: 10px;
    }
    .social .fa {
        font-size: 10px;
        line-height: 20px;
    }
    .social {
        padding-bottom: 10px;
    }
}

@media (max-height:400px) {

    .slide_menu ul li a {
    font-size: 12px;
    }
    
    .slide_menu ul li a i{ 
    font-size: 12px;

    }

    
    .hello span {
        font-size: 30px;
    }
    .mail_bottom{
        font-size: 12px;
    }
    .image_main h3{
       margin: 10px;
        font-size: 14px;
    }
    .image_main img {
        width:90px;
    }
    .slide_menu ul li a i {
        padding-left: 30px;
    }
    .slide_menu ul {
        width: 70%;
    }
    .code h1 {
        font-size: 27px;
    }
    .welcome {
        font-size: 18px;
    }
    .span_hello {
        width: 77px;
    }
}

@media (max-height:350px) {
    .web_img img {
        width: 90px;
    }
    /*.code h1 {
    font-size: 50px;
    }*/
    .welcome {
        font-size: 17px;
        padding: 10px;
    }
    .code h1 {
        font-size: 27px;
    }
}

@media (max-height:250px) {
    body>* {
        display: none;
    }
    body {
        background-image: url('../img/cat.jpg');
    }
}