/* Large desktop */

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1200px;
	}
}

@media (max-width: 1200px) {
	.form-wrap {
    width: 100%;
    height: 687px;
		    background-repeat: no-repeat;
	}
	.main-form>.container:before{
		width: 55%;
		top: -95px;
	}
.button-portfolio {
    margin-bottom: 70px;
}
	.video-page {
    margin-bottom: 70px;
}
	..sect-whywy{
		margin-bottom: 70px;
	}
	.video-tittle{
		padding: 0;
		margin-bottom: 40px;
		line-height: 1;
	}
	.article {
    margin-bottom: 70px;
}
	.main-form {
    padding: 70px 0;
	}
	.last-works-tittle{
padding: 0;
	}
	.last-work-h>*{
		margin-bottom: 20px;
	}
	.portfolio-slide .owl-theme .owl-controls {
    margin-top: 20px;
}
	.header-pege__logo {
		width: 20%;
	}
	.main-menu__link {
		font-size: 0.55em;
	}
	.number__text {
		font-size: 1em;
	}
	.sicial-button__icon {
		width: 30px;
		height: 30px;
		font-size: 18px;
	}
	.social-button {
		width: 110px;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-moz-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.main-menu {
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-moz-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.header-pege--flex {
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-moz-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
}

@media (max-width: 992px) {
	.aside-wp .wrap-button{
		display: none;
	}
	.header-pege .wrap-button {
    display: block;
		
}
	.main-form>.container:before{
		top: -75px;
	}
	.form-wrap__form{
		top: 80px;
	}
	.form-wrap {
    width: 100%;
    height: 540px;
	}
	.sect-whywy {
    padding: 40px 0;
	}
	.button-portfolio {
    margin-bottom: 40px;
}
	.video-page {
    margin-bottom: 40px;
}
	.sect-whywy{
		margin-bottom: 40px;
	}
	.video-tittle{
		padding: 0;
		margin-bottom: 20px;
		line-height: 1;
	}
	.article {
    margin-bottom: 40px;
}
	.main-form {
		    overflow: hidden;
    padding: 40px 0;
	}
	.last-works-tittle{
padding: 0;
	}
	.last-work-h>*{
		margin-bottom: 10px;
	}
	.portfolio-slide .owl-theme .owl-controls {
    margin-top: 10px;
}
	
	
	
	.tabs-slide .tabs-slide__item:before {
		width: 17px;
		right: 39px;
	}
	.tabs-slide__list {
		padding: 0 20px;
		top: 116px;
	}
	.main-slideshow__item {
		height: 100px;
		width: 250px;
		top: -3px;
		right: 55px;
	}
	.main-slideshow__text {
		font-size: 1.2em;
	}
	.main-slideshow__price {
		font-size: 2em;
	}
	.wrap-button {
display: block;
    top: 0;
    bottom: 0;
    height: 38px;
		right: 20px;
	}
.wrap-button:hover .main-button {
    left: 0px;
    top: 0px;
}
	.main-button {
		padding: 10px 25px;
		font-size: 14px;
	}
	.header-pege__contact {
		width: 275px;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-moz-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.header-pege__menu {
		width: 48%;
		padding-left: 15px;
		padding-right: 15px;
	}
	.header-pege {
		padding: 10px 0;
	}
	.nav-bar>span {
		width: 30px;
		height: 4px;
		background: #c2a16a;
		margin-bottom: 6px;
		display: block;
	}
	.nav-bar>span:last-child {
		margin-bottom: 0;
	}
	.main-menu__link {
		font-size: 0.65em;
		padding: 10px 0;
		text-align: center;
    background: #000000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.23);
	}
	.header-pege--flex {
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		-moz-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}
	.header-pege__menu {
		width: auto;
	}
	body {
		font-size: 18px;
	}
	.header-pege {
		z-index: 11;
	}
	.header-pege__logo {
		width: 30%;
	}
	.social-button {
		display: none;
	}
	.nav-page {
		display: none;
		position: absolute;
		width: 150%;
		left: 50%;
		top: 63px;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	.main-menu {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-moz-box-orient: vertical;
		-moz-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
}

@media (max-width: 767px) {
	.footer-list__item:before{
		display: none;
	}
	.footer-page{
		padding: 20px 0;
	}
	.footer-list__item{
		margin: 0;
		margin-bottom: 10px;
	}
	.footer-list__item:last-child{
		margin: 0;
	}
	.footer-list{
		margin-bottom: 15px;
-webkit-box-orient:vertical;
-webkit-box-direction:normal;
-webkit-flex-direction:column;
-moz-box-orient:vertical;
-moz-box-direction:normal;
-ms-flex-direction:column;
flex-direction:column;
		text-align: center;
		-webkit-box-ordinal-group: 0;

		-webkit-order: -1;

		-moz-box-ordinal-group: 0;

		-ms-flex-order: -1;

		order: -1;
	}
	.footer-page .container{
		min-height: 50px;

		-webkit-box-orient: vertical;

		-webkit-box-direction: normal;

		-webkit-flex-direction: column;

		-moz-box-orient: vertical;

		-moz-box-direction: normal;

		-ms-flex-direction: column;

		flex-direction: column;
	}
	.form-wrap__form {
    top: 140px;
}
	.form-wrap__item--button:before{
		display: none;
	}
	.form-wrap__button{
		background: transparent;
		color: #cfae51;
	}
	.main-form>.container:before {
    width: 75%;
    top: -95px;
}
.form-wrap {
    width: 130%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
	.advantage-list__number:after {
  
    height: 10px;
  
}
	.sect-whywy__tittle>*{
		    font-size: 1.7em;
		
	}
	.advantage-list__desc{
		font-size: 1em;  
		height: 38px;
    margin-left: -22px;
		    text-shadow: 1px 1px 1px black;
	}
	.advantage-list__number:before {

    height: 50px;
	}
	
	.last-work-h>*, .video-tittle, .h1-wrap>* {
    font-size: 1.7em;
	}
	.advantage-list__number{
		width: 100px;
		height: 100px;
		 
	}
	
.main-section {
    min-height: 120vh;
    max-height: none;
    height: auto;
    padding-bottom: 125px;
	padding-top: 225px;
}
	
	.container {
		width: 100%;
	}
	.tabs-slide__list {
		width: auto;
	}
	.wrap-button:before {
		display: none;
	}
	.main-button {
		background-color: transparent;
		color: #cfae51;
	}
	.main-menu__item.main-menu__item--mobil-phone {
		display: block;
	}
	.header-pege__contact {
		display: none;
	}
	.main-menu__item.main-menu__item--mobil-phone>.main-menu__link {
		font-size: 16px;
		text-decoration: underline;
	}
	.header-pege{
		height: 73px;
	}
	.wrap-button {
top: 0;
    bottom: 0;
    margin: auto;
    height: 35px;
}
	.main-button {
    padding: 10px 20px;
    font-weight: 600;
		font-size: 11px;
	}
	.header-pege--flex{
		height: 100%;
	}
.nav-bar {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 30px;
    height: 24px;
}

}

/* Landscape phones and down */

@media (max-width: 700px) {
	.form-wrap__form {
    top: 110px;
}
	
}

@media (max-width: 600px) {
	.main-form>.container:before{
		display: none;
	}
	.form-wrap{
		padding-bottom: 0;
		height: auto;
		background: none;
	}
	.form-wrap__form{
		width: 220px;
		position: static;
	}
	.form-wrap__wrap-tittle>*{
		font-size: 22px;
	}
	.form-wrap__input{
		padding-left: 15px;
	}
	.necessarily:before{
		left: 5px;
	}
	.form-wrap__wrap-tittle {
    margin-bottom: 25px;
}
	.form-wrap__item:nth-last-child(2) {
    margin-bottom: 35px;
}
	
	
	.sect-whywy__tittle{
		margin-bottom: 40px;
	}
	.advantage-list__number:before {
    height: 25px;
}
	.advantage-list__desc {
    font-size: 1em;
    height: 65px;
    margin-left: -22px;
}
	.advantage-list__number:after {
    height: 25px;
}
	.advantage-list{
		display: block;
	}
	.advantage-list__tar{
		display: inline;
	}
	.advantage-list__item:nth-child(2),
	.advantage-list__item:nth-child(3){
		margin-left: 0;
	}
	.advantage-list__item{
		margin-bottom: 40px;
	}
	.last-work-h>*, .video-tittle, .h1-wrap>* {
    font-size: 1.3em;
    font-weight: 600;
}

.video-play {
    width: 70px;
    height: 70px;
	}
	.video-play:before {

    border-left: 25px solid #fff;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}
	.open-portfolio{
		    width: 250px;
    height: 50px;
		line-height: 1;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-moz-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		font-size: 14px;
	}

	.header-pege{
		margin-bottom: 150px;
	}
	.tabs-slide__list{
left: 35px;
    width: 271px;
    right: 0;
}
	.aside-page__list{
		    background: rgba(0,0,0,0.5);
	}
	
	.aside-page{
		margin: auto;
	}
	.main-slideshow__item {
    height: 100px;
    width: 230px;
    top: -3px;
    right: 55px;
    background-color: rgba(255,255,255,0.5);
    text-shadow: 1px 1px 1px #000000;
}
}

@media (max-width: 500px) {
	.h1-wrap>* {
		font-size: 18px;
	}
	.article__image-left,
	.article__image-right{
		width: 120px;
	}
	.header-pege__logo {
    width: 40%;
}
	.main-button {
    padding: 10px;
    width: 110px;
}
}

@media (max-width: 450px) {}

@media (max-width: 350px) {}














