//fonts
$roboto:                Roboto, sans-serif;
$roboto-slab:           'Roboto Slab', sans-serif;
$american-type-writer:  AmericanTypewriter, sans-serif;

//general-color
$brand-color:   #efae7c;
$main-color:    #423f54;
$main-light:    #9a98a0;
$strong-color:  #555365;
$white:         #fff;
$black:         #000;
$main-bg:       #f4f7fd;

//media
$screen-max:    1600px;
$screen-lg-max: 1366px;
$screen-lg:     1200px;
$screen-md-max: 1025px;
$screen-md:     992px;
$screen-sm:     768px;
$screen-xs:     480px;

//other
$anim: .3s;
$radius: 5px;

