html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: inherit; }

svg {
  display: block;
  height: 100%;
  width: 100%; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Medium.eot");
  src: url("../fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Light.eot");
  src: url("../fonts/Raleway-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Light.woff") format("woff"), url("../fonts/Raleway-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Regular.eot");
  src: url("../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway-Bold.eot");
  src: url("../fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

html {
  font-size: 1px; }

body {
  font-family: 'Raleway', sans-serif;
  font-size: 15rem;
  background: #fff;
  letter-spacing: .03em;
  color: #000;
  font-weight: 400; }

.header-page__logo {
  width: 100%;
  max-width: 200px; }

.header-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #191919;
  z-index: 10; }
  .header-page.active .logo {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg); }
  .header-page.active .click-menu__line:before {
    -webkit-transition-delay: 0s;
            transition-delay: 0s; }
  .header-page.active .click-menu__line:nth-child(2) {
    opacity: 0; }
  .header-page.active .click-menu__line:nth-child(3) {
    -webkit-transform: rotate(314deg) translateY(-6px) translateX(5px);
        -ms-transform: rotate(314deg) translateY(-6px) translateX(5px);
            transform: rotate(314deg) translateY(-6px) translateX(5px); }
  .header-page.active .click-menu__line:nth-child(1) {
    -webkit-transform: rotate(45deg) translateY(6px) translateX(5px);
        -ms-transform: rotate(45deg) translateY(6px) translateX(5px);
            transform: rotate(45deg) translateY(6px) translateX(5px); }
  .header-page.active .logo__css {
    opacity: 0; }
  .header-page.active .drop-menu {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    opacity: 1; }

.logo-holder {
  height: 70px;
  background: #ffc815;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-perspective: 900px;
          perspective: 900px;
  position: relative; }

.logo {
  display: block;
  width: 50px;
  height: 65px;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s; }

.logo__css, .logo__html {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden; }

.logo__css {
  z-index: 2;
  -webkit-transition: opacity .3s;
  transition: opacity .3s; }

.logo__html {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg); }

.logo__text {
  display: block;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-weight: 600;
  text-shadow: -1px 1px 0 #e44d26; }
  .logo__text.logo__text--css {
    text-shadow: -1px 1px 0 #1f62ae; }

.logo-pic {
  display: block;
  width: 50px;
  height: 50px; }

.open-menu {
  height: 70px;
  width: 70px;
  padding: 20px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .open-menu:before {
    background-color: rgba(206, 206, 206, 0.15);
    content: "";
    height: 50px;
    width: 2px;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
    position: absolute;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

.click-menu {
  width: 100%;
  cursor: pointer; }
  .click-menu:hover .click-menu__line:before {
    width: 100%; }

.click-menu__line {
  display: block;
  width: 100%;
  height: 3px;
  background: #fff;
  margin-bottom: 5px;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
  will-change: transform; }
  .click-menu__line:last-child {
    margin: 0; }
  .click-menu__line:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #ffc815;
    -webkit-transition: width .3s;
    transition: width .3s;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .click-menu__line:nth-child(2):before {
    -webkit-transition-delay: .1s;
            transition-delay: .1s; }
  .click-menu__line:nth-child(3):before {
    -webkit-transition-delay: .2s;
            transition-delay: .2s; }

.menu__desc {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: -webkit-calc( 100vh - 70px);
  height: calc( 100vh - 70px);
  -webkit-perspective: 900px;
          perspective: 900px; }

.drop-menu {
  background: rgba(0, 0, 0, 0.8);
  padding: 50px;
  height: 100%;
  -webkit-transform: rotateX(-100deg);
          transform: rotateX(-100deg);
  -webkit-transform-origin: 100% 0;
      -ms-transform-origin: 100% 0;
          transform-origin: 100% 0;
  -webkit-transition: opacity .5s ease-in-out, -webkit-transform .5s ease-in-out;
  transition: opacity .5s ease-in-out, -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out, opacity .5s ease-in-out;
  transition: transform .5s ease-in-out, opacity .5s ease-in-out, -webkit-transform .5s ease-in-out;
  opacity: 0; }

.menu-desc {
  height: 100%;
  position: relative; }
  .menu-desc:before, .menu-desc:after {
    content: '';
    display: block;
    position: absolute;
    border: 2px solid rgba(255, 255, 255, 0.5);
    width: 50px;
    height: 50px; }
  .menu-desc:before {
    top: 0;
    left: 0;
    border-right: none;
    border-bottom: none; }
  .menu-desc:after {
    bottom: 0;
    right: 0;
    border-top: 0;
    border-left: 0; }

.button-animation {
  -webkit-perspective: 600px;
          perspective: 600px; }
  .button-animation.right .button-animation__link {
    -webkit-transform: rotateY(24deg);
            transform: rotateY(24deg); }
  .button-animation.left .button-animation__link {
    -webkit-transform: rotateY(-24deg);
            transform: rotateY(-24deg); }

.button-animation__desc {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: -1;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.title-sect__btn-animation {
  display: inline-block;
  vertical-align: middle; }

.button-animation__link {
  border: 1px solid #ffc815;
  color: #ffc815;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  will-change: transform;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  background: #212326;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  -webkit-perspective: 706px;
          perspective: 706px;
  height: 52px;
  width: 162px; }
  .button-animation__link:before {
    content: '';
    display: block;
    height: 100%;
    width: 40px;
    position: absolute;
    left: 0;
    top: -1px;
    background: rgba(255, 195, 0, 0.46);
    border: 1px solid #ffc815;
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    -webkit-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
            transform-origin: 0 100%; }
  .button-animation__link:after {
    content: '';
    display: block;
    height: 100%;
    width: 40px;
    position: absolute;
    right: 0;
    top: -1px;
    background: rgba(255, 195, 0, 0.46);
    border: 1px solid #ffc815;
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
    -webkit-transform-origin: 100% 0;
        -ms-transform-origin: 100% 0;
            transform-origin: 100% 0; }

.button-animation__left {
  display: block;
  height: 100%;
  width: 50%;
  left: 0;
  top: 0;
  z-index: 2; }

.button-animation__right {
  display: block;
  height: 100%;
  width: 50%;
  right: 0;
  top: 0;
  z-index: 2; }

.menu-desc {
  padding: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.menu-desc__avatar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px; }

.user {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.avatar {
  width: 120px;
  height: 120px;
  background-size: cover;
  background-position: center;
  background-image: url("../img/im.jpg");
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid #ffc815;
  display: block;
  margin-bottom: 20px; }

.name {
  font-size: 14rem;
  color: #fff;
  text-transform: uppercase; }

.nav-main__link {
  font-size: 24rem;
  font-weight: 300;
  position: relative;
  text-transform: uppercase;
  color: #fff;
  padding: 0 10px; }
  .nav-main__link:before {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #fff;
    -webkit-transition: width .3s;
    transition: width .3s;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    position: absolute; }
  .nav-main__link:hover:before {
    width: 100%; }

.nav-main__item {
  margin-bottom: 20px;
  text-align: center; }
  .nav-main__item:last-child {
    margin: 0; }

.top-section {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url("../img/topsect.jpg");
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 5; }
  .top-section:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.56);
    z-index: 1;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

.top-section__desc {
  width: 60%;
  position: relative;
  z-index: 2; }

.title-sect {
  padding-left: 20px;
  border-left: 4px solid #ffc815; }

.title-sect__text {
  font-size: 40rem;
  color: #ffc815;
  text-shadow: -1px -1px 0px black;
  font-weight: 500;
  margin-bottom: 15px; }

.title-sect__main {
  font-size: 60rem;
  text-transform: uppercase;
  text-shadow: -1px -1px 0px black;
  color: #fff;
  margin-bottom: 15px; }

.title-main {
  display: inline-block; }

.title-sect__sub {
  font-size: 30rem;
  color: #fff;
  text-shadow: -1px -1px 0px black; }

.main-page {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.main-page__content {
  width: 60%;
  padding-top: 70px; }

.main-page__banner-sect {
  position: fixed;
  left: 0;
  top: 0;
  width: 40%;
  height: 100%; }

.main-page__banner-sect {
  height: 100%; }

.baner-sect {
  height: 100%;
  position: relative; }

.baner-sect__banner {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  z-index: 1;
  opacity: 0; }
  .baner-sect__banner:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .baner-sect__banner.active {
    opacity: 1;
    z-index: 4; }

.baner-sect__banner.portfolio {
  background-image: url("../img/pensil.jpg"); }

.main-page__content {
  position: relative; }

.content-sect__top-panel {
  right: 0;
  top: 0;
  position: absolute;
  width: 100%;
  z-index: 7; }
  .content-sect__top-panel.fix {
    position: fixed;
    width: 60%; }

.top-panel {
  height: 70px;
  background: #191919;
  position: relative;
  padding: 15px; }
  .top-panel:before {
    background-color: rgba(207, 207, 207, 0.15);
    content: "";
    height: 50px;
    width: 2px;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: block;
    position: absolute;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

.top-panel__desc {
  height: 100%; }

.text-title {
  height: 100%;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffc815;
  font-size: 14rem;
  padding: 0 20px;
  font-weight: 500;
  color: #000;
  text-transform: uppercase; }

.text-title__text {
  display: none; }
  .text-title__text.active {
    display: block; }

.content-sect__desc {
  z-index: 1;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%; }
  .content-sect__desc.active {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
    height: auto;
    min-height: 100vh;
    z-index: 2;
    position: relative; }
  .content-sect__desc.portfolio {
    background: pink; }
  .content-sect__desc.use {
    background: orange; }
  .content-sect__desc.contact {
    background: grey; }
