@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

@media (max-width: 1600px) {
    .advantages:before {
        background: -webkit-linear-gradient(223deg, rgba(0, 150, 64, 0.8) 80%, transparent 23.52%) 0 105%;
        background: -moz-linear-gradient(223deg, rgba(0, 150, 64, 0.8) 80%, transparent 23.52%) 0 105%;
        background: -o-linear-gradient(223deg, rgba(0, 150, 64, 0.8) 80%, transparent 23.52%) 0 105%;
        background: linear-gradient(-133deg, rgba(0, 150, 64, 0.8) 80%, transparent 23.52%) 0 105%;
    }
}

@media (max-width: 1200px) {
    .header-title__h1 {
        font-size: 2em;
    }
    .header-title__subtitle {
        font-size: 1.2em;
    }
}

@media (max-width: 992px) {
    .header-conact {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -moz-box-align: end;
        -ms-flex-align: end;
        -ms-grid-row-align: flex-end;
        align-items: flex-end;
    }
    .header-conact__number {
        margin-right: 0;
        margin-bottom: 5px;
    }
    .header-page__top {
        width: 60%;
    }
    .local-list {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
    .local-list>* {
        margin-bottom: 15px;
        width: 100%;
    }
    .local-list>*:last-child {
        margin: 0;
    }
    .local-desc {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .local-desc__text {
        width: 80%;
    }
    body {
        font: 400 14px/1.2 'Open Sans';
    }
    .h2-page.h2-page--white {
        color: #fff;
        font-size: 1.2em;
    }
    .section-form__left {
        margin-right: 50px;
    }
}

@media (max-width: 767px) {
    .header-page:before {
        background: -webkit-linear-gradient(123deg, transparent 44%, rgba(0, 150, 64, 0.8) 25.52%) 0 101%;
        background: -moz-linear-gradient(123deg, transparent 44%, rgba(0, 150, 64, 0.8) 25.52%) 0 101%;
        background: -o-linear-gradient(123deg, transparent 44%, rgba(0, 150, 64, 0.8) 25.52%) 0 101%;
        background: linear-gradient(-33deg, transparent 44%, rgba(0, 150, 64, 0.8) 25.52%) 0 101%;
    }
    .header-page__top {
        width: 85%;
    }
    .logo img {
        display: block;
        max-height: 85px;
        max-width: 200px;
    }
    body {
        font: 400 13px/1.2 'Open Sans';
    }
    .header-page__title {
        width: 60%;
    }
    .advantages:before {
        content: '';
        height: 100px;
    }
    .advantages {
        padding: 40px 0;
        padding-bottom: 40px;
    }
    .section-form {
        padding: 40px 0;
        padding-bottom: 40px;
    }
    .photo-galery {
        padding: 40px 0;
    }
    .last-desc {
        padding: 40px 0;
        padding-bottom: 40px;
    }
    .contact-footer {
        padding: 40px 0;
        padding-bottom: 40px;
    }
    .sect-desc {
        padding: 40px 0;
    }
    .advantages:before {
        background: -webkit-linear-gradient(223deg, rgba(0, 150, 64, 0.8) 89%, transparent 23.52%) 0 105%;
        background: -moz-linear-gradient(223deg, rgba(0, 150, 64, 0.8) 89%, transparent 23.52%) 0 105%;
        background: -o-linear-gradient(223deg, rgba(0, 150, 64, 0.8) 89%, transparent 23.52%) 0 105%;
        background: linear-gradient(-133deg, rgba(0, 150, 64, 0.8) 89%, transparent 23.52%) 0 105%;
    }
    .contact-footer__tittle {
        margin-bottom: 20px;
    }
    .section-form__left {
        margin-right: 0;
        padding: 0;
        text-align: center;
        margin-bottom: 20px;
    }
    .section-form > .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
    }
    .section-form__title {
        margin-bottom: 20px;
    }
    .form-contact-info__title,
    .form-contact-info__number {
        margin-bottom: 10px;
    }
    .form__tittle {
        text-align: center;
        margin-bottom: 10px;
    }
}

@media (max-width: 550px) {
    .desc-list {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
    .desc-list>* {
        margin-bottom: 15px;
        width: 100%;
    }
    .desc-list>*:last-child {
        margin-bottom: 0;
    }
    .landscape__img > img {
        width: 100%;
        min-height: 100%;
        max-width: none;
        position: absolute;
        left: 0;
        top: 0;
        -o-object-fit: cover;
        object-fit: cover;
    }
    .header-page__title {
        width: 100%;
        text-shadow: 1px 1px 0 #000;
    }
    .header-page__top {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
    }
    .header-page__logo {
        margin-bottom: 15px;
    }
    .advantages__title {
        margin-bottom: 90px;
    }
    .advantages-list {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -ms-align-items: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
    }
    .ico-desc__img {
        margin-bottom: 10px;
    }
    .advantages__item {
        width: 100%;
        margin-bottom: 20px;
    }
    .advantages__item:last-child {
        margin: 0;
    }
    .last-desc-list {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -ms-align-items: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
    }
    .last-desc-list>* {
        margin-bottom: 20px;
        width: 100%;
    }
    .last-desc-list>*:last-child {
        margin: 0;
    }
    .wealth__img {
        margin-bottom: 10px;
    }
    .footer-info-list {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        -ms-align-items: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
    }
    .footer-info-list>* {
        margin-bottom: 20px;
    }
    .footer-info-list>*:last-child {
        margin: 0;
    }
    .footer-info-list__email {
        width: 30px;
        height: 17px;
        background-position: -14px -14px;
        background-image: url(../img/sprite/icon-contact.png);
        margin-right: 7px;
        -moz-background-size: 100px;
        -o-background-size: 100px;
        background-size: 100px;
    }
    .footer-info-list__adress {
        width: 30px;
        height: 23px;
        background-position: -63px -14px;
        background-image: url(../img/sprite/icon-contact.png);
        margin-right: 7px;
        -moz-background-size: 100px;
        -o-background-size: 100px;
        background-size: 100px;
    }
    .map {
        padding-bottom: 80%;
    }
    .galery {
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        margin-left: -3px;
        margin-right: -3px;
        margin-top: -3px;
        margin-bottom: -3px;
    }
    .galery__left {
        width: 100%;
        height: 270px;
        overflow: hidden;
    }
    .galery__right {
        width: 100%;
        height: 270px;
    }
    .galery > div > div {
        border: 3px solid transparent;
    }
}

@media (max-height: 500px) {
    .header-page__center {
        width: 100%;
        margin-top: -30px;
    }
}