body {
	font-family: $roboto;
  color: $darkgrey;
}

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.login-container {
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.danger {
  color: $danger-color;
}

.ok {
  color: $ok-color;
}

.error-color {
  color: $error-color;
}

.tour-guide {
  color: $tour-guide;
}

.business {
  color: $business;
}

.shopping {
  color: $shipping;
}

.translation {
  color: $translation;
}

@media screen and (max-width: $mobile-first) {
  body {
    font-size: 12px;
  }
}

















