//fonts
$roboto: 'Roboto', arial, sans-serif;

//main-color
$primary-color: #2aa7dc;
$focus-color: #0798d5;
$grey: #8d939d;
$lightgrey: #d2d6db;
$darkgrey: #444547;

$green: #00ba76;
$orange: #e8ca49;
$red: #e84c3d;
//common
$error-color: #f50000;
$danger-color: #fcbb00;
$ok-color: #00c77f;
$disabled: #c6c6c6;

//media
$screan-first: 1570px;
$screan-second: 1370px;
$screan-second-2: 1300px;
$screan-threed: 1024px;
$mobile-first: 700px;
$mobile-width: 500px;

//border-radius
$border-radius: 4px;

//tab
$tour-guide: #97c65c;
$business: #ff8276;
$shipping: #fcd55d;
$translation: #8d93d7;

//header
$height-header: 64px;

//big-marker
$big-marker: #176485;

//chat
$left-color: #a3dcf4;

//transition
$transition: .25s;