.card-product__mob-title{
	display: none;
}
.bread {
    display: flex;
    flex-wrap: wrap;
    color: #373737;
    font-size: 12px;
    padding: 12px;
}

.bread__item:not(:last-child) {
    margin-right: 22px;
    position: relative;
    &:after {
        content: '»';
        position: absolute;
        top: 0;
        right: -15px;
    }
}


.prod-slider__wp-img:hover {
    border-color: #000;
}

.product-galery__main-img,
.prod-slider__wp-img {
    padding-bottom: 100%;
    position: relative;
}

.product-galery__pic,
.prod-slider__pic {
    position: absolute;
    max-height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.product-galery__pic{
	width: 100%;
	object-fit: cover;
}



.card-product__galery {
    width: 48%;
}

.prod-slider__item {
    padding: 0 5px;
}

.prod-slider {
    margin-right: -5px;
    margin-left: -5px;
    overflow: hidden;
}

.prod-slider__wp-img {
    border: 1px solid #e0dddd;
    transition: border-color .3s;
    cursor: pointer;
}

.prod-slider {
    .slick-next {
        right: -14px;
        border-radius: 50%;
        z-index: 5;
        -webkit-transition: .3s;
        transition: .3s;
    }
    .slick-prev {
        left: -14px;
        border-radius: 50%;
        z-index: 5;
        -webkit-transition: .3s;
        transition: .3s;
    }
    .slick-prev:hover {
        background: rgba(0, 0, 0, .7);
    }
    .slick-next:hover {
        background: rgba(0, 0, 0, .7);
    }
    .slick-next,
    .slick-prev {
        position: absolute;
        display: block;
        height: 40px;
        width: 40px;
        line-height: 0;
        font-size: 0;
        cursor: pointer;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0;
        border: none;
        outline: none;
        background: rgba(0, 0, 0, .5);
    }
    .slick-prev:before,
    .slick-next:before {
        top: 0;
        bottom: 0;
        margin: auto;
        -webkit-transform: rotate(-134deg);
        transform: rotate(-134deg);
        border-left: none;
        border-bottom: none;
        border-color: #fff;
        content: "";
        width: 10px;
        height: 10px;
        border: 2px solid #fff;
        position: absolute;
    }
    .slick-next:before {
        left: 4px;
        border-top: none;
        border-right: none;
    }
    .slick-prev:before {
        right: 4px;
        border-bottom: none;
        border-left: none;
    }
}

.product-galery__slide {
    overflow: hidden;
}

.product-galery__main-img {
    margin-bottom: 10px;
}

.h1-page {
    font-size: 26rem;
    -webkit-text-stroke: .03em;
    letter-spacing: .03em;
    color: #000;
}

.card-product__info {
    padding-left: 45px;
    padding-top: 10px;
	width: 52%;
	overflow: hidden;
}


.card-product-info__title {
    margin-bottom: 30px;
}

.card-product-info__min-list {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    max-width: 460px;
	
    .min-info-list li:not(:last-child) {
        margin-bottom: 7px;
    }
}



.grba-sect__color,
.grba-list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
}

.grba-sect__title {
    margin-right: 10px;
}

.grba-list__color {
    height: 25px;
    width: 25px;
    display: block;
    border: 1px solid #fff;
    box-shadow: 0 0 0px 1px currentColor;
    margin: 1px;
}

.grba-list__color.black {
    color: #484347;
    background: currentColor;
}

.grba-list__color.grou {
    color: #cebca6;
    background: currentColor;
}

.grba-list__color.green {
    color: #38876e;
    background: currentColor;
}

.grba-list__item {
    cursor: pointer;
    &:not(:last-child) {
        margin-right: 6px;
    }
}


.grba-sect__color {
    margin-bottom: 14px;
}

.card-product-info__min-list {
    margin-bottom: 23px;
}

.min-info-list__item {
    &.active {
        .min-info-list__mark {
            background: #3fb852;
            &:before {
                content: "";
                width: 3px;
                height: 6px;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                display: block;
                position: absolute;
                top: -2px;
                left: 0px;
                right: 0;
                bottom: 0;
                margin: auto;
                border: 1px solid #fff;
                border-left: none;
                border-top: none;
            }
        }
    }
    &.no-active {
        .min-info-list__mark {
            background: $red;
            &:before {
                display: none;
            }
        }
    }
}

.min-info-list__mark {
    width: 14px;
    height: 14px;
    display: block;
    border-radius: 50%;
    margin-left: 9px;
    margin-right: 5px;
    position: relative;
}

.min-info-list__item.min-info-list__item--mark {
    display: flex;
    align-items: center;
}

.select-m {
    width: 150px;
    height: 30px;
    position: relative;
    background: #f2f2f2;
    select {
        font-size: 14px;
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: none;
        border: none;
        z-index: 2;
        outline: none;
        -webkit-appearance: none;
        appearance: none;
        text-indent: 0.01px;
        text-overflow: '';
        &::-ms-expand {
            display: none;
        }
        padding: 0 5px;
    }
    &:before {
        width: 0;
        height: 0;
        content: "";
        bottom: 0;
        margin: auto;
        right: 10px;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 5px solid #000;
        position: absolute;
        top: 0;
        display: block;
        z-index: 1;
    }
}

.good-price__old {
    position: relative;
    font-size: 22rem;
    margin-right: 25px;
    transform: scaleY(1.25) scaleX(1);
    display: inline-block;
    transform-origin: 100% 100%;
    &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: .5em;
        height: 1px;
        width: 100%;
        background: currentColor;
    }
}

.good-price__now {
    font-size: 36rem;
    color: $red;
    transform: scaleY(1.25) scaleX(1);
    display: inline-block;
}

.good-price__currency {
    color: $red;
    font-size: 26rem;
    transform: scaleY(1.25) scaleX(1);
    display: inline-block;
}

.counter {
    font-size: 1px;
    display: inline-flex;
    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    input[type='number'] {
        -moz-appearance: textfield;
    }
}

.counter__item {
    width: 39em;
    height: 39em;
    display: block;
    background: #f2f2f2;
    margin-right: 9px;
    position: relative;
    cursor: pointer;
    &:last-child {
        margin-right: 0;
    }
    &:before,
    &:after {
        content: '';
        display: block;
        background: currentColor;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-replace: 0;
        margin: auto;
    }
    &.counter__item--minus:before {
        width: 11px;
        height: 3px;
    }
    &.counter__item--minus:after {
        display: none;
    }
    &.counter__item--plus:before {
        width: 14px;
        height: 2px;
    }
    &.counter__item--plus:after {
        width: 2px;
        height: 14px;
    }
}

.counter__item-text {
    display: block;
    width: 56px;
    background: #fff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    border: 1px solid;
    margin-right: 9px;
    font-size: 18px;
    box-sizing: border-box;
    text-align: center;
}

.card-product-info__price {
    max-width: 460px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 27px;
}

.btn-bay {
    max-width: 286px;
	width: 100%;
    height: 50px;
    background-color: $red;
    transition: color .3s, background-color .3s;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    text-transform: uppercase;
    border: 1px solid;
    cursor: pointer;
    .btn-bay__ico {
        font-size: 18px;
        margin-right: 10px;
    }
    &:hover {
        color: $black;
        background-color: transparent;
    }
}

.btn-group__item {
    margin-bottom: 15px;
}

.btn-call {
	max-width: 286px;
	width: 100%;
    height: 35px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 14px;
    transition: color .3s, border-color .3s;
    &:hover {
        color: $red;
    }
}

.btn-group__add {
    display: flex;
    align-items: center;
}

.add-link {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-right: 30px;
    cursor: pointer;
    &:last-child {
        margin: 0;
    }
    .add-link__ico {
        font-size: 18px;
        display: block;
        margin-right: 7px;
    }
}

.prior-list {
    display: flex;
    justify-content: space-between;
}

.prior-item {
    .prior-item__ico {
        width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        background: #eceaea;
        border: 1px dashed #b9b9b9;
        border-radius: 50%;
        font-size: 30px;
        margin-bottom: 10px;
    }
}

.prior-item__title {
    text-align: center;
    font-size: 11px;
    display: block;
}

.prior-list__item {
    width: 90px;
    max-width: 90px;
}

.card-product-info__btn-group {
    margin-bottom: 38px;
}

.card-product-info__prior-list{
	margin-bottom: 25px;
	width: 100%;
}

.prior-list{
	width: 100%;
	max-width: 100%	;
}

.card-product-info{
	width: 100%;
}

.link-social{
	display: flex;
	align-items: center;
}


.link-social__title{
	font-size: 16px;
	margin-right: 10px;
}


.card-product-info__link-social{
	display: flex;
	justify-content: flex-end;
	margin-bottom: 25px;
	
}

.info-desc-title__item{
	margin-right: 2px;
	background-color: #f4f4f4;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 16px;
	&:last-child{
		margin: 0;
	}
	
	&.active{
		background-color: #dcdbdb;
	}
}

.info-desc-title{
	display: flex;
}

.tab-desc{
	display: none;
}

.tab-desc.active{
	display: block;
}

.info-desc-text__item{
	padding: 20px;
}


.descript-tab{
	font-size: 14px;
	line-height: 1.2;
}
.descript-tab>*{
	margin-bottom: 20px;
	&:last-child{
		margin: 0;
	}
}


.main-desc-title{
	display: flex;
	border-bottom: 2px solid $red;
}



.main-desc-title__item{
	font-size: 20px;
	width: 260px;
	text-align: center;
	padding: 12px;
	background-color: #f4f4f4;
	margin-right: 2px;
	cursor: pointer;
	&:last-child{
		margin-right: 0;
	}
	
	&.active{
		background-color: $red;
		color: #fff;
	}
}


.main-desc__item{
	padding: 20px;
}



.main__card-product{
	margin-bottom: 36px;
	
	&:after{
		content: '';
		display: table;
		clear: both;
	}
}

.card-product__galery{
	float: left;
}




.main-descript-tab{
	
	li{
		padding: 8px 30px;
		padding-left: 40px;
		display: flex;
		align-items: center;
		font-size: 16px;
		&:nth-child(odd){
			background-color: #f4f4f4;
		}
		
		span{
			flex: 1;
			max-width: 180px;
			margin-right: 40px;
			&:last-child{
				margin-right: 0;
				max-width: 100%;
			}
		}
	}
	
}


.card-main-desc-wrap{
	margin-bottom: 35px;
}


.min-title{
	font-size: 24px;
	font-weight: 600;
}

.product-line__title{
	margin-bottom: 35px;
}


.goods-slid__item{
	width: 20%;
}


.goods-item-slid{
	.good-price{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	.good-price__hist{
		font-size: 14px;
	}

	.good-price__yy, .good-price__nom{
		font-size: 16px;
		transform-origin: 100% 100%;
	}
	.good-price__hist{
		margin-right: 10px;
	}
	
	.btn-call, .btn-bay{
		height: 30px;
		font-size: 14px;
		max-width: 216px;
		margin: 0 auto;
	}
	.btn-bay__ico{
		font-size: 14px;
		margin-right: 7px;
	}

	.btn-group__item{
		margin-bottom: 10px;

		
		&:last-child{
			margin-bottom: 0;
			}
	}
	
	.btn-call{
		text-transform: none;
		
	}
	.good-price__hist:before {
		bottom: 0.35em;
	}
}


.goods-item-slid__title{
	overflow: hidden;
	height: 32px;
	margin-bottom: 12px;
	
}

.goods-item-slid__price{
	margin-bottom: 12px;
}


.name-product{
	font-size: 13px;
	text-align: center;
	line-height: 1.2;
	display: block;
}


.main-page__product-line{
	padding-bottom: 40px;
}


.goods-item-slid__img{
padding-bottom: 100%;
	position: relative;
	margin-bottom: 12px;
}


.goods-item-slid__pic{
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	left: 0;
	top: 0;
}

.product-line__item:not(:last-child){
	margin-bottom: 35px;
}






