    @media (max-width: 1300px) {
    html {
        font-size: .9px;
    }
    .logo__name {
        font-size: 55px;
    }
    .phones-list__link {
        letter-spacing: 0;
    }
    .header-desc__phones {
        max-width: 300px;
    }
    .services-menu {
        margin-right: -9px;
        margin-left: -9px;
    }
    .serv-baner-info__item:not(:last-child) {
        margin-right: 25px;
    }
		
		.card-product-info__min-list, .card-product-info__price{
			max-width: 100%;
		}
		
		.btn-bay {
			max-width: 250px;
			width: 100%;
			height: 40px;
			font-size: 17px;
		}
		.btn-call{
			max-width: 250px;
			width: 100%;
			height: 40px;
		}
		.card-product-info__btn-group {
			margin-bottom: 25px;
		}
		
}


@media (max-width: 1100px) {
	.main-desc-title__item{
		flex: 1;
	}
	
	.card-product-info__title,
	.card-product-info__min-list, 
	.card-product-info__price,
	.card-product-info__btn-group,
	.card-product-info__link-social{
		overflow: hidden;
		padding-left: 20px;
	}
	
	.card-product-info__prior-list{
		display: none;
	}
	.card-product__galery {
		width: 40%;
	}
	.card-product__info {
		padding-left: 0;
		padding-top: 10px;
		width: 100%;
		overflow: visible;
	}
	
	.card-product-info__link-social{
		justify-content: flex-start;
	}
	
    html {
        font-size: .8px;
    }
    .logo__name {
        font-size: 40px;
    }
    .header-desc__logo {
        margin-top: -6px;
    }
    .phones-list {
        flex-direction: column;
        align-items: center;
    }
    .phones-list__item {
        padding: 0;
        margin-bottom: 8px;
        &:last-child {
            margin: 0;
        }
    }
    .header-desc__open-call {
        margin-bottom: 10px;
    }
    .phones-list {
        margin: 0;
    }
    .logo__sub {
        font-size: 11px;
        font-weight: 500;
        padding-left: 3px;
    }
    .services-baner {
        font-weight: 400;
        line-height: 1.2;
    }
    .main-banner__img {
        padding-bottom: 80%;
    }
	.brand-baner__pic{
		max-width: 80%;
	}
	
	.banner-list__img{
		padding: 25px;
	}
	.banner-list__sub {
		font-size: 24px;
	}
	.banner-list__item.banner-list__item--full-w .banner-list__sub {
		font-size: 28px;
	}
	.banner-bnt-text__sub {
		font-size: 20px;
	}
	.mail-form__text{
		display: none;
	}
	.mail-form__btn{
		margin: 0;
	}
	.mail-form__input{
		width: 200px;
	}
	.min-info-list, .good-price{
		padding-right: 10px;
	}
}
	
	
	
@media (max-width: 1026px) {
	.main-desc-title__item {
		font-size: 16px;
	}
	.top-head-baner{
		display: none;
	}
	.services-menu{
		margin: 0;
	}
	.services-baner__list{
		display: none;
	}
	.open-menu-min {
		display: block;
		padding-right: 80px;
		box-sizing: content-box;
	}
	.open-menu-main{
		display: flex;
	}
	.services-baner{
		padding: 5px 0;
		position: fixed;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 10;
	}
	.header-page{
		padding-top: 46px;
	}
	.header-desc__services-menu, .main-menu{
		position: fixed;
		width: 50%;
		height: calc( 100% - 46px);
		left: 0;
		top: 46px;
		padding: 20px;
		display: block;
		background: rgba(0,0,0,.9);
		z-index: 5;
		color: #fff;
		transform: translateX(-100%);
		transition: transform .3s, visibility .3s;
		visibility: hidden;
		overflow: auto;
		
	}
	.services-menu__link, .main-menu__link{
		&:after{display: none;}
		font-size: 16px;
		margin-bottom: 7px;
		padding: 0;
		padding-left: 5px;
		padding-bottom: 10px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.43);

	}
	.services-menu__item:not(:last-child){
		margin-bottom: 10px;
	}
	.open-sub-menu{
		.header-desc__services-menu{
			transform: translateX(0%);
			visibility: visible;
		}
		.open-menu-min{
			width: 30px;
			
			&:before{
				-webkit-transform: rotate(45deg) translateY(6px) translateX(5px);
				transform: rotate(45deg) translateY(7px) translateX(7px);
				box-shadow: 0 0px 0 0 rgba(0,0,0,0);
			}
			
			&:after{
				-webkit-transform: rotate(314deg) translateY(-6px) translateX(5px);
				transform: rotate(314deg) translateY(-6px) translateX(5px);
			
			}
		}
	}
	
	.open-main-menu{
		.main-menu{
			transform: translateX(0%);
			visibility: visible;
		}
		.open-menu-main{
			background: #fff;
			color: $black;
			font-weight: 600;
		}
	}
	.header-desc__phones{
		display: none;
	}
	.header-desc__search-menu{
		padding: 0;
		width: 40%;
		margin: 0;
		flex: 1.5;
	}
	.header-desc__logo{
		padding: 0;
		flex: 1;
	}
	.header-desc__cart-head {
		max-width: none;
		justify-content: flex-end;
		display: flex;
		flex: 1;
	}
	.main-nav {
		background: none;
		border-bottom: 1px solid #202020;
	}
}
	
@media (max-width: 850px) {
	.card-product-info__min-list{
	
		.min-info-list{
			margin-bottom: 20px;
		}
	}
	
	.card-product-info__price{
		
	}
	
	.good-price{
		margin-bottom: 20px;
	}
	
	.banner-sect__prev-category{
		display: none;
	}
	.banner-sect__carousel{
		width: 100%;
		padding: 0;
	}
	
	.main-banner__img {
		padding-bottom: 60%;
	}
	
	.header-desc{
		position: relative;
	}
	
	.header-desc__search{
		position: fixed;
		width: 50%;
		height: calc(100% - 46px);
		background: rgba(0,0,0,0.9);
		right: 0;
		top: 46px;
		padding: 20px;
		transform: translateX(100%);
		visibility: hidden;
		transition: transform .3s, visibility .3s;
	}
	.cart-head__title{
		display: none;
	}
	
	
	.head-search:before {
		top: 32px;
		bottom: auto;
		left: 30px;
		-webkit-filter: grayscale(100%);
	}
	
	.head-search__ico {
		top: 20px;
		left: 20px;
		padding: 0;
	}
	.header-desc__search-menu{
		width: 0;
		height: 0;
		flex: 0;
	}
	.mobile-ico{
		display: flex;
	}
	.header-desc__cart-head, .header-desc__logo, .mobile-ico{
		flex: 1;
	}
	.header-desc__cart-head{
		justify-content: center;
	}
	.header-desc>.container{
		align-items: center;
	}
	
	.open-search{
		.header-desc__search{
			transform: translateX(0%);
			visibility: visible;
		}
	}
	.close-search{
		display: block;
		width: 30px;
		height: 30px;
		border: 1px solid #000000;
		background: #fff;
		position: absolute;
		right: 23px;
		top: 25px;
		
		&:before, &:after{
			content: '';
			display: block;
			width: 80%;
			height: 2px;
			background: #000;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			transform: rotate(45deg);
		}
		&:before{
			width: 80%;
			height: 2px;
		}
		
		&:after{
			width: 2px;
			height: 80%;
		}
		
	}
	.head-search__input{
		padding: 0 37px;
	}
	
	.top-panel-footer__soc-text{
		display: none;
	}
	
	.top-panel-footer__soc-list{
		padding: 0;
		margin-bottom: 10px;
	}
	
	.top-panel-footer{
		display: block;
	}
	
	.mail-form__input{
		width: 100%;
	}
	
	.card-product-info__link-social{
	padding-left: 0;
	}
	

	
}
	
	
@media (max-width: 700px) {
	.card-product-info__title,
	.card-product-info__min-list, 
	.card-product-info__price,
	.card-product-info__btn-group,
	.card-product-info__link-social{
		padding: 0;
	}
	
	.card-product__galery{
		float: none;
	}
	
	
	
	
	.main-descript-tab li span {
		max-width: 100%;
		width: 100%;
		margin: 0;
		display: block;
		margin-bottom: 10px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	
	.info-desc-title__item{
		padding: 10px 15px;
	}
	.main-desc-title{
		display: block;
		border: none;
	}
	
	.main-desc__item{
		padding: 10px 0;
	}
	
	.main-desc-title__item{
		border-bottom: 1px solid red;
		width: 100%;
		max-width: 100%;
	}
	
	.card-product__mob-title{
		padding-bottom: 30px;
		display: block;
	}
	.card-product-info__title{
		display: none;
	}
	.card-product__info{
		padding-left: 0;
		width: 100%;
	}
	.card-product.main__card-product{
		display: block;
	}
	
	.product-galery__main-img{
		padding-bottom: 60%;
	}
	.card-product__galery{
		width: 100%;
	}
	
	.footer-desc{
		display: inline-block;
		padding-top: 30px;
		position: relative;
	}

	
	.foot-info-list__title ~ *{
		display: none;
	}
	.top-panel-footer__soc-list{
		position: absolute;
		margin: 0;
		left: 10px;
		bottom: -41px;
		z-index: 6;
	}
	.h3-title:before{
		top: -8px;
	}
	.line-anchor{
		height: 50px;
		background-size: auto 100%;
		padding-right: 10px;
	}
	.h3-title{
		position: relative;
		font-size: 18rem;
		border-bottom: 1px solid #000;
		padding-bottom: 6px;
		padding-right: 30px;
		
		&:before{
			position: absolute;
			content: "";
			display: block;
			top: 0;
			bottom: 0;
			right: 0;
			margin: auto;
			height: 6px;
			width: 6px;
			border: 1px solid #000;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
			border-left: none;
			border-bottom: none;
		}
		
	}
	.foot-info-list__title.active ~ *{
		display: block;
	}
	
	.foot-info-list__title.active{
		.h3-title:before{
			transform: rotate(134deg);
		}
	}
	.foot-info-list__mail, .foot-info-list__bank-img{
		margin-bottom: 34px;
	}
	.container{
		width: 100%;
	}
	
	.banner-list__link:before{
		display: none;
	}
	
	.banner-list__img{
		&:before{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,0.5);
			z-index: 1;
		}
	}
	
	.banner-list__desc{
		position: relative;
		z-index: 2;
		color: #fff;
	}
	
	.banner-list__link{
		padding-bottom: 24%;
	}
	.banner-list__item{
		flex: 1 1 100%;
		max-width: 100%;
	}
	
	.banner-bnt__img{
		display: none;
	}
	
	.banner-bnt{
		padding: 15px;
		display: flex;
		flex-direction: column;
	}
		
	.banner-bnt__desc{
		margin-bottom: 10px;
	}
	.foot-info-list__title {
		margin-bottom: 20px;
	}
	
	.mail-btn__text{
		display: none;
	}
	.mail-btn__ico{
		margin: 0;
	}
	.mail-form__btn{
		width: 50px;
		padding: 0 10px;
	}
	.slick-next, .slick-prev{
		font-size: .7px;
	}
}
	
@media (max-width: 500px) {
	.main-descript-tab li{
		display: block;
		padding: 8px 20px;
	}
	
	.card-product-info__btn-group, .card-product-info__link-social, .card-product-info__min-list, .card-product-info__price{
		display: block;
	}
	
	.leng-item{
		justify-content: center;
		padding: 0;
	}
	.leng{
		width: 80px;
		font-size: 13px;
	}
	.leng-item__ico {
		width: 17px;
		height: 13px;
	}
	.open-menu-min{
		padding-right: 50px;
	}
	.header-desc__services-menu, .main-menu, .header-desc__search{
		width: 100%;
	}
	.logo__name {
		font-size: 30px;
	}
	.link-btn-categ.main-banner__btn {
		background-color: rgba(0,0,0,0.5);
		color: #fff;
		border-color: inherit;
	}
	
	.main-banner__img {
		padding-bottom: 70%;
	}
	.banner-list__link, .banner-list__item.banner-list__item--full-w .banner-list__link {
		padding-bottom: 50%;
	}
	
	.banner-list__desc{
		font-size: 18px;
	}
	.banner-list__sub {
		font-size: 20px;
	}

	.banner-list__item.banner-list__item--full-w .banner-list__desc{
		max-width: 100%;
	}
	.banner-list__item.banner-list__item--full-w .banner-list__sub {
		font-size: 20px;
	}
	.banner-list__item.banner-list__item--full-w .banner-list__title {
		font-size: 18px;
	}
	.banner-bnt-text__title {
		font-size: 18px;
	}
}	


@media (max-width: 400px) {
	
}
	
	

















