.title-panel__h {
    font-size: 30px;
    color: #293244;
    letter-spacing: .04em;
    padding: 12px 0px;
    padding-bottom: 27px;
}

.contant-admin__diag {
    padding: 0 70px;
}

.menager-avatar {
    align-items: center;
    display: flex;
    padding-bottom: 35px;
    border-bottom: 1px solid #eceef1;
    padding-top: 20px;
    padding-left: 48px;
}

.menager-avatar__img {
    position: relative;
    width: 110px;
    height: 110px;
    margin-right: 40px;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
}

.menager-avatar__name {
    font-size: 18px;
    color: #293244;
    letter-spacing: .04em;
    margin-bottom: 7px;
    display: block;
}

.menager-avatar__position {
    font-size: 16px;
    letter-spacing: .04em;
    margin-bottom: 20px;
    color: #a4acbc;
    display: block;
}

.menager-avatar__red {
    color: #2f65d2;
    letter-spacing: .04em;
    display: block;
    font-size: 15px;
}

.statistics-list {
    display: flex;
    margin: -10px;
    flex-wrap: wrap;
}

.statistics-list__item.statistics-list__item--menager {
    width: 35%;
}

.statistics-list__item--stat {
    width: 25%;
}

.statistics-list__item--radius {
    width: 40%;
}

.statistics-list__item--fin {
    width: 35%;
}

.statistics-list__item--last {
    width: 65%;
}

.statistics-list__item {
    padding: 10px;
    display: flex;
    &>* {
        background: #fff;
        width: 100%;
    }
}

.menager {
    background: #fff;
}

.menager-avatar__text {
    padding-top: 10px;
}

.menager-desc__title {
    color: #293244;
    font-size: 20px;
    letter-spacing: .04em;
    display: block;
    margin-bottom: 24px;
}

.menager-desc {
    padding-left: 48px;
    padding-top: 26px;
    padding-bottom: 46px;
}

.menager-desc__text {
    display: flex;
}

.menager-desc__mail-text {
    display: block;
    color: #747f96;
    font-size: 14px;
    letter-spacing: .04em;
    margin-bottom: 12px;
}

.menager-desc__email {
    display: block;
    color: #293244;
    font-size: 14px;
    letter-spacing: .04em;
}

.menager-desc__app-text {
    display: block;
    color: #747f96;
    font-size: 14px;
    letter-spacing: .04em;
    margin-bottom: 12px;
}

.menager-desc__number {
    display: block;
    color: #4673d5;
    font-size: 14px;
    letter-spacing: .04em;
    margin-bottom: 12px;
}

.menager-desc__mail {
    width: 50%;
}

.statistic-list {
    background: #fbfcfd;
}

.statistic-list__strong {
    display: block;
    color: #293244;
    font-size: 20px;
    letter-spacing: .04em;
    padding-left: 50px;
    padding-top: 28px;
    padding-bottom: 25px;
}

.statistic-list__common {
    color: #293244;
    letter-spacing: .04em;
    display: block;
    font-size: 16px;
    padding: 16px 48px;
    border-left: 2px solid #2e61c7;
}

.stat-list__item {
    justify-content: space-between;
    display: flex;
    padding-left: 50px;
    padding-top: 17px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e9ebef;
    &:last-child {
        border: none;
    }
}

.stat-list__date {
    color: #737f96;
    font-size: 14px;
    display: block;
    letter-spacing: .04em;
}

.stat-list__number {
    color: #293244;
    font-size: 14px;
    display: block;
    letter-spacing: .04em;
    width: 70px;
}

.stat-list {
    padding-top: 10px;
}

.radius-chart {
    padding-top: 25px;
    padding-left: 47px;
}

.radius-chart__title {
    font-size: 20px;
    letter-spacing: .04em;
    color: #293244;
    display: block;
    margin-bottom: 40px;
}

.fin-statist {
    height: 340px;
    background: #fff;
    overflow: hidden;
    position: relative;
}

.chart-sell {
    height: 340px;
    background: #fff;
}

.p-wrap {
    display: flex;
    align-items: center;
}

.fin-statist__title {
    font-size: 20px;
    letter-spacing: .04em;
    color: #293244;
    display: block;
    margin-bottom: 40px;
    padding-top: 24px;
    padding-left: 50px;
    padding-right: 20px;
}

.canvasjs-chart-credit {
    display: none;
}

.canvasjs-chart-canvas {
    top: 40px;
}

.fin-statist__text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 14px;
    color: #6c7fa2;
    b {
        color: #4b5e81;
        font-weight: 500;
    }
}

.chart-desc {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.red-avatar {
    padding: 20px 60px;
    background: #fafafc;
}

.red-avatar__img {
    position: relative;
    width: 110px;
    height: 110px;
    margin-right: 40px;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 50%;
    }
}

.red-form__title {
    padding: 30px 45px;
    color: #293244;
    font-size: 24px;
    letter-spacing: .04em;
}

.red-form {
    background: #fff;
}

.popup-red__form {
    max-width: 680px;
    width: 100%;
}

.red-avatar__text-img {
    color: #a4acbc;
    letter-spacing: .04em;
    display: block;
    font-size: 16px;
    margin-bottom: 7px;
}

.red-avatar {
    display: flex;
    align-items: center;
}

.red-avatar__file-text {
    color: #3e72db;
    letter-spacing: .04em;
    display: block;
    font-size: 16px;
}

.red-avatar__file {
    position: relative;
    cursor: pointer;
}

.red-avatar__inp-file {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 5;
}

.popup-red {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.contant-admin__popup-red {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 30;
}

.form-inputs {
    padding: 0 50px;
}

.form-inputs__title {
    color: #293244;
    letter-spacing: .04em;
    display: block;
    font-size: 16px;
    padding-left: 7px;
    margin-bottom: 23px;
}

.red-form__item {
    padding-bottom: 20px;
    border-bottom: 1px solid #e9eaec;
    padding-top: 25px;
    &:nth-of-last {
        border: none;
    }
}


::-webkit-input-placeholder { opacity: 1;}
::-moz-placeholder          { opacity: 1;}
:-moz-placeholder           { opacity: 1;}
:-ms-input-placeholder      { opacity: 1;}


.form-input {
    padding-left: 20px;
	color: #e0e0e7;
    letter-spacing: .04em;
    display: block;
    border: 2px solid;
    border-radius: 4px;
    height: 40px;
    width: 100%;
	::-webkit-input-placeholder {color:#e0e0e7; opacity: 1;}
	::-moz-placeholder          {color:#e0e0e7; opacity: 1;}
	:-moz-placeholder           {color:#e0e0e7; opacity: 1;}
	:-ms-input-placeholder      {color:#e0e0e7; opacity: 1;}
	
	
    &:focus {
		color: #a8a8b6;
		
	}
	
	:focus::-webkit-input-placeholder {color:#a8a8b6; opacity: 1;}
	:focus::-moz-placeholder          {color:#a8a8b6; opacity: 1;}
	:focus:-moz-placeholder           {color:#a8a8b6; opacity: 1;}
	:focus:-ms-input-placeholder      {color:#a8a8b6; opacity: 1;}
}

.form-inputs__label {
    display: block;
    width: 50%;
    padding: 0 10px;
}

.form-inputs__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.form-inputs__wrap.form-inputs__wrap--noflex {
    display: block;
}

.form-inputs__wrap-type {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-top: 20px;
}

.red-form__item.red-form__item-border-n {
    border: none;
}

.red-form-btn {
    transition: .3s;
    width: 280px;
    height: 45px;
    border: none;
    box-shadow: 1px 0 1px 1px;
    background: #2f65d2;
    display: block;
    font-size: 16px;
    letter-spacing: .06em;
    border: none;
    color: #fff;
    cursor: pointer;
    &:hover {
        background: #2e6eed;
    }
    &:active {
        background: #205acf;
    }
}

.red-form__btn {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    padding-top: 20px;
}