.about-use{
	padding: 90px 0;
	padding-bottom: 110px;
}

.about-use--title{
	margin-bottom: 43px;
}

.min-title-sect{
	text-align: center;
	padding-bottom: 2.5em;
	position: relative;
	
	&:before{
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		width: 60px;
		height: 3px;
		background: $red;
		
	}
}

.min-title-sect--sub{
	font-family: $kaushan;
	font-size: 24px;
	margin-bottom: 15px;
}

.min-title-sect--main{
	font-weight: 700;
	font-size: 30px;
	text-transform: uppercase;
}


.about-use--desc{
	margin: 0 auto;
	margin-bottom: 100px;
	max-width: 965px;
	color: $grey;
	font-size: 15px;
	text-align: center;
	line-height: 1.4;
	letter-spacing: .002em;
}


.galery-list{
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	margin-bottom: -30px;
}


.galery-list__item{
	width: 33.33%;
	padding: 0 15px;
	margin-bottom: 30px;
}


.galery-link{
	display: block;
	position: relative;
	padding-bottom: 66%;
	color: #fff;
	transition: opacity .3s, transform .3s, box-shadow .3s;
	&:hover{		
			box-shadow: 10px 10px 0 0 $blue;
			opacity: 1;
			transform: translateX(-10px) translateY(-10px);
		
		.galery-link--hover{
			opacity: 1;
		}
	}
	
}

.galery-link__img{
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	left: 0;
	top: 0;
	z-index: 1;
	background-size: cover;
	background-position: center;
}

.galery-link--hover{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(rgba(243, 129, 129, 0.95),rgba(252, 227, 138, 0.85));
	opacity: 0;
	transition: opacity .3s;
}

.galery-link--ico{
	width: 33px;
	height: 30px;
	display: block;
	margin-bottom: 5px;

}

.galery-link--desc{
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

.counter-project{
	background-color: $blue;
}

.counter-list{
	display: flex;
}

.counter-list--item{
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}



.counter-item{
	text-align: center;
	color: #fff;
	padding: 75px 10px;
	padding-bottom: 85px;
}

.counter-item--number{
	font-size: 72px;
	font-weight: 700;
	margin-bottom: 10px;
}

.counter-item--text{
	font-size: 14px;
	text-transform: uppercase;
}

.services{
	padding: 110px 0;
	padding-bottom: 10px;
}

.services--title{
	margin-bottom: 64px;
}

.services-desc-list{
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.services-desc-list--item{
	width: 33.33%;
	padding: 0 30px;
	margin-bottom: 50px;
	padding-bottom: 50px;
	
	&:nth-child(1),&:nth-child(2),&:nth-child(3){
		border-bottom: 1px solid #e5e5e5;
	}
}

.services-desc-item--title{
	font-size: 14px;
	text-transform: uppercase;
	margin-bottom: 15px;
	display: block;
}

.services-desc-item--text-dc{
	font-size: 15px;
	color: $grey;
	line-height: 1.4;
}

.services-desc-item--ico{
	display: block;
	margin-right: 28px;
	width: 32px;
	min-width: 32px;
	height: 38px;
	color: $blue;
}

.services-desc-item{
	display: flex;
}










