.header-page{
	padding: 24px 0;
	
	& > .container{
		display: flex;
		justify-content: space-between;
	}
}

.logo{
	display: block;
	font-size: 30px;
	font-weight: 700;
}

.main-nav>ul{
	display: flex;
	
	& > li{
		margin-right: 56px;
		padding-top: 7px;
		&:last-child{
			margin: 0;
		}
		
		&.active > a{
			color: $yellow;
			
			&:before{
				width: 100%;
			}
		}
	}
	
	& > li > a{
		font-size: 14px;
		text-transform: uppercase;
		padding-bottom: 11px;
		transition: color .3s;
		position: relative;
		
		&:before{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0;
			height: 3px;
			background: currentColor;
			transition: width .3s;
		}
		
		&:hover{
			color: $yellow;
			
			&:before{
				width: 100%;
			}
		}
	}
}

.score-sect{
	display: flex;
	align-items: center;
}

.header-page--menu{
	display: flex;
	align-items: center;
}

.score-sect--item:not(:last-child){
	margin-right: 41px;
}

.score-item{
	display: block;
	
	&:hover{
		svg{
			fill: $yellow;
		}
	}
}

.score-item--ico{
	display: block;
	width: 17px;
	height: 20px;
}

.header-page--cart{
	padding-left: 55px;
	padding-top: 8px;
}


.open-menu-min{
	display: none;
	min-width: 30px;
	width: 30px;
}

.open-menu-min:after, .open-menu-min:before, .open-menu-min b {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	margin-bottom: 6px;
	background: #fff;
	box-sizing: border-box;
	transition: transform .3s,box-shadow .3s,opacity .3s;
	transition: transform .3s,box-shadow .3s,opacity .3s,-webkit-transform .3s;
}

.open-sub-menu .open-menu-min:before {
	-webkit-transform: rotate(45deg) translateY(6px) translateX(5px);
	transform: rotate(45deg) translateY(7px) translateX(7px);
	box-shadow: 0 0 0 0 transparent;
}

.open-sub-menu .open-menu-min:after {
	-webkit-transform: rotate(314deg) translateY(-6px) translateX(5px);
	transform: rotate(314deg) translateY(-6px) translateX(5px);
}

.open-sub-menu .open-menu-min b {
	opacity: 0;
}

