$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;
$kaushan: 'Kaushan Script', sans-serif;

$red: #f38181;
$yellow: #fce38a;
$light: #eaffd0;
$blue: #95e1d3;

$black: #333333;
$grey: #999999;



