@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, D:/progfile/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, D:/progfile/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, D:/progfile/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, D:/progfile/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, D:/progfile/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, D:/progfile/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, D:/progfile/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, D:/progfile/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, D:/progfile/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_common.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../sass/_common.scss */
img {
  max-width: 100%;
}

/* line 7, ../sass/_common.scss */
html, body {
  height: 100%;
}

/* line 11, ../sass/_common.scss */
body {
  font-size: 20px;
  line-height: 1.4;
  font-family: 'Conv_HelveticaNeueCyr-Light';
}

/* line 17, ../sass/_common.scss */
.cf:after {
  display: table;
  clear: both;
  content: '';
}

/* line 23, ../sass/_common.scss */
.wrapper {
  min-height: 100%;
}

/* line 26, ../sass/_common.scss */
.empty-footer {
  height: 195px;
}

/* line 30, ../sass/_common.scss */
.row {
  max-width: 1440px;
  margin: auto;
  width: 100%;
  padding: 0 20px;
}

/* line 36, ../sass/_common.scss */
a {
  text-decoration: none;
  display: block;
}

/* line 43, ../sass/_common.scss */
.rslides .row {
  position: relative;
  max-width: 100%;
  padding: 0;
}

@font-face {
  font-family: 'Conv_HelveticaNeueCyr-Light';
  src: url("../fonts/HelveticaNeueCyr-Light.eot");
  src: local("тШ║"), url("../fonts/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Light.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/** Generated by FG **/
@font-face {
  font-family: 'Conv_helveticaneuecyr-roman';
  src: url("../fonts/helveticaneuecyr-roman.eot");
  src: local("тШ║"), url("../fonts/helveticaneuecyr-roman.woff") format("woff"), url("../fonts/helveticaneuecyr-roman.ttf") format("truetype"), url("../fonts/helveticaneuecyr-roman.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 1, ../sass/_main.scss */
.header {
  z-index: 2;
  position: relative;
}

/* line 6, ../sass/_main.scss */
.header__top {
  padding: 10px 0;
  background: #fd8f00;
}
/* line 9, ../sass/_main.scss */
.header__top .row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/* line 20, ../sass/_main.scss */
.header__top .row a {
  font-size: 1.2em;
  color: #000;
}
/* line 23, ../sass/_main.scss */
.header__top .row a:first-child {
  margin-right: 25px;
}

/* line 30, ../sass/_main.scss */
.header__bottom {
  background: #000;
}
/* line 31, ../sass/_main.scss */
.header__bottom .row {
  position: relative;
}
/* line 35, ../sass/_main.scss */
.header__bottom .row {
  min-height: 70px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}
/* line 54, ../sass/_main.scss */
.header__bottom .nav__menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
/* line 60, ../sass/_main.scss */
.header__bottom .nav__menu .menu__link {
  transition: 0.3s;
  padding: 20px 33px;
  color: #fff;
  font-size: 1.200em;
  border: 1px solid transparent;
  position: relative;
}
/* line 61, ../sass/_main.scss */
.header__bottom .nav__menu .menu__link:hover:before {
  opacity: 1;
}
/* line 64, ../sass/_main.scss */
.header__bottom .nav__menu .menu__link:hover {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  color: #fd8f00;
}
/* line 75, ../sass/_main.scss */
.header__bottom .nav__menu .menu__link span {
  z-index: 2;
  position: relative;
}
/* line 79, ../sass/_main.scss */
.header__bottom .nav__menu .menu__link:before {
  display: block;
  width: 100%;
  position: absolute;
  background: black;
  height: 60px;
  border-radius: 12%;
  content: '';
  z-index: 1;
  left: 0;
  opacity: 0;
  transition: 0.3s;
}

/* line 96, ../sass/_main.scss */
.header__logo {
  position: absolute;
  left: 0;
  padding-left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 108, ../sass/_main.scss */
.logo__pic {
  vertical-align: middle;
  margin-right: 14px;
}

/* line 114, ../sass/_main.scss */
.logo__text {
  vertical-align: middle;
  color: #fff;
}

/* line 119, ../sass/_main.scss */
.logo__text-color {
  color: #fd8f00;
}

/* line 123, ../sass/_main.scss */
.slider__text {
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 0;
  width: 50%;
  padding-right: 20px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 30px;
}

/* line 138, ../sass/_main.scss */
.rslides_container {
  z-index: 1;
}

/* line 142, ../sass/_main.scss */
.advantages {
  padding: 10px 0;
}
/* line 144, ../sass/_main.scss */
.advantages .row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* line 158, ../sass/_main.scss */
.advantages__list {
  width: 23%;
}

/* line 162, ../sass/_main.scss */
.list__item-img {
  vertical-align: middle;
  margin-right: 10px;
}

/* line 167, ../sass/_main.scss */
.list__item-h3 {
  text-transform: uppercase;
  color: #000;
  font-size: 1em;
  font-weight: 600;
}

/* line 174, ../sass/_main.scss */
.list__item_text {
  font-size: .9em;
}

/* line 179, ../sass/_main.scss */
.anchor {
  overflow: hidden;
  position: relative;
  background: -webkit-repeating-linear-gradient(315deg, #cecece 0px, #c5c5c5 2px, white 4px, white 10px);
  background: -moz-repeating-linear-gradient(315deg, #cecece 0px, #c5c5c5 2px, white 4px, white 10px);
  background: -o-repeating-linear-gradient(315deg, #cecece 0px, #c5c5c5 2px, white 4px, white 10px);
  background: repeating-linear-gradient(135deg, #cecece 0px, #c5c5c5 2px, white 4px, white 10px);
  text-align: center;
  height: 75px;
}

/* line 194, ../sass/_main.scss */
.anchor_href {
  color: #000;
  display: block;
  height: 100%;
  font-size: 1.2em;
  padding-top: 5px;
  font-weight: bold;
}

/* line 203, ../sass/_main.scss */
.anchor_transform_left {
  background: #fff;
  height: 50%;
  position: absolute;
  bottom: 0;
  width: -webkit-calc(50% - 64px);
  width: -moz-calc(50% - 64px);
  width: calc(50% - 68px);
  border-top: 2px solid #000;
}

/* line 214, ../sass/_main.scss */
.transform_right {
  width: 50px;
  height: 76px;
  background: #fff;
  right: -53px;
  position: absolute;
  -webkit-transform: rotate(-75deg);
  -moz-transform: rotate(-75deg);
  -ms-transform: rotate(-75deg);
  -o-transform: rotate(-75deg);
  transform: rotate(-75deg);
  top: -6px;
  border-right: 2px solid #000;
}

/* line 229, ../sass/_main.scss */
.transform_left {
  width: 50px;
  height: 73px;
  background: #fff;
  left: -52px;
  position: absolute;
  -webkit-transform: rotate(75deg);
  -moz-transform: rotate(75deg);
  -ms-transform: rotate(75deg);
  -o-transform: rotate(75deg);
  transform: rotate(75deg);
  top: -5px;
  border-left: 2px solid #000;
}
/* line 242, ../sass/_main.scss */
.transform_left:after {
  position: absolute;
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: #fff;
  bottom: -10px;
}

/* line 253, ../sass/_main.scss */
.anchor_transform_right {
  border-top: 2px solid #000;
  background: #fff;
  height: 50%;
  position: absolute;
  bottom: 0;
  width: -webkit-calc(50% - 67px);
  width: -moz-calc(50% - 67px);
  width: calc(50% - 67px);
  right: 0;
  border-top: 2px solid #000;
}

/* line 267, ../sass/_main.scss */
.camera {
  margin-top: -36px;
  position: relative;
}
/* line 270, ../sass/_main.scss */
.camera .row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

/* line 279, ../sass/_main.scss */
.camera__img-left {
  margin-right: 15px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
/* line 286, ../sass/_main.scss */
.camera__img-left img {
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

/* line 292, ../sass/_main.scss */
.camera__img-right {
  margin-left: 15px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
/* line 299, ../sass/_main.scss */
.camera__img-right img {
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

/* line 305, ../sass/_main.scss */
.camera__description {
  font-size: .9em;
  padding-top: 25px;
  width: 70%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

/* line 325, ../sass/_main.scss */
.description {
  padding-bottom: 15px;
}

/* line 328, ../sass/_main.scss */
.arrow-orange_right {
  height: 33px;
  background: #ff9000;
  position: absolute;
  bottom: 0;
  width: 55%;
  right: 0;
}

/* line 336, ../sass/_main.scss */
.arrow-orange_left {
  height: 33px;
  background: #ff9000;
  position: absolute;
  bottom: 0;
  width: 55%;
  left: 0;
}

/* line 344, ../sass/_main.scss */
.camera__img {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
/* line 350, ../sass/_main.scss */
.camera__img img {
  -o-object-fit: cover;
  object-fit: cover;
}

/* line 356, ../sass/_main.scss */
.arrow__desc {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  height: 33px;
  width: 100%;
  background: #ff9000;
}
/* line 375, ../sass/_main.scss */
.arrow__desc > *, .arrow__desc a {
  cursor: pointer;
  margin: 0 50px;
  color: #fff;
  font-size: 1em;
}
/* line 381, ../sass/_main.scss */
.arrow__desc .img_left {
  position: absolute;
  display: block;
  margin-left: -33px;
  left: 0;
  top: 0;
}
/* line 388, ../sass/_main.scss */
.arrow__desc .img_right {
  position: absolute;
  display: block;
  margin-right: -33px;
  right: 0;
  top: 0;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 401, ../sass/_main.scss */
.line__zebra {
  height: 35px;
  background: -webkit-repeating-linear-gradient(315deg, #cecece 0px, #c5c5c5 2px, white 4px, white 10px);
  background: -moz-repeating-linear-gradient(315deg, #cecece 0px, #c5c5c5 2px, white 4px, white 10px);
  background: -o-repeating-linear-gradient(315deg, #cecece 0px, #c5c5c5 2px, white 4px, white 10px);
  background: repeating-linear-gradient(135deg, #cecece 0px, #c5c5c5 2px, white 4px, white 10px);
  border-top: 2px solid #000;
}

/* line 411, ../sass/_main.scss */
#slider2 ~ .centered-btns_tabs {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

/* line 418, ../sass/_main.scss */
#slider2 .row {
  max-width: 1440px;
  margin: auto;
  width: 100%;
  padding: 0 20px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

/* line 429, ../sass/_main.scss */
#slider2 {
  margin: 20px 0;
  position: relative;
}

/* line 433, ../sass/_main.scss */
#slider2 img {
  width: auto;
}

/* line 436, ../sass/_main.scss */
.name {
  display: block;
  font-style: italic;
  color: #000;
  font-size: 1.5em;
  margin-bottom: 35px;
}

/* line 443, ../sass/_main.scss */
.name_desc {
  font-size: 1.2em;
  color: #000;
}

/* line 447, ../sass/_main.scss */
.comment__text {
  padding-left: 35px;
  padding-bottom: 25px;
  width: 71%;
}

/* line 452, ../sass/_main.scss */
.article_form {
  padding: 40px 0;
  background: -webkit-repeating-linear-gradient(315deg, #cecece 0px, #c5c5c5 2px, white 4px, white 10px);
  background: -moz-repeating-linear-gradient(315deg, #cecece 0px, #c5c5c5 2px, white 4px, white 10px);
  background: -o-repeating-linear-gradient(315deg, #cecece 0px, #c5c5c5 2px, white 4px, white 10px);
  background: repeating-linear-gradient(135deg, #cecece 0px, #c5c5c5 2px, white 4px, white 10px);
}

/* line 459, ../sass/_main.scss */
.article_form form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  font-size: 1.2em;
}
/* line 460, ../sass/_main.scss */
.article_form form > * {
  width: 100%;
}
/* line 478, ../sass/_main.scss */
.article_form form textarea {
  width: 100%;
  display: block;
  border: 1px solid #000;
  font-size: 1.2em;
  padding: 20px;
  height: 130px;
  margin-top: 15px;
}

/* line 488, ../sass/_main.scss */
.form_h {
  display: block;
  font-size: 1.2em;
  color: #000;
  font-weight: 600;
  margin-bottom: 20px;
}

/* line 495, ../sass/_main.scss */
.article_form input {
  padding: 20px;
  max-width: 514px;
  width: 36%;
  height: 45px;
  border: 1px solid #000;
  background: #fff;
  font-size: 1.2em;
}

/* line 504, ../sass/_main.scss */
.article_form button {
  background-color: #ff9000;
  max-width: 316px;
  height: 45px;
  color: #000;
  font-size: 1.2em;
  border: none;
  width: 24%;
}

/* line 515, ../sass/_main.scss */
.phone_modal {
  position: fixed;
  z-index: 10;
  cursor: pointer;
  top: 60px;
  right: 50px;
  transform: scale(0.7);
  transition: .3s;
}
/* line 525, ../sass/_main.scss */
.phone_modal img {
  border-radius: 100%;
  will-change: transform;
}
/* line 529, ../sass/_main.scss */
.phone_modal:hover {
  transform: scale(0.8) rotate(45deg);
}

/* line 534, ../sass/_main.scss */
.circle_anim {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  animation-name: shadow;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: -1;
}

@keyframes shadow {
  0% {
    box-shadow: 0px 0px 0px 0px #9b0000;
    background-color: #9b0000;
  }
  10% {
    box-shadow: 0px 0px 0px 6px rgba(155, 0, 0, 0.5), 0px 0px 0px 10px rgba(255, 255, 255, 0.08);
    background-color: rgba(255, 255, 255, 0.12);
  }
  100% {
    box-shadow: 0px 0px 0px 25px rgba(255, 255, 255, 0), 0px 0px 0px 15px rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
  }
}
/* line 572, ../sass/_main.scss */
.footer {
  margin-top: -195px;
  border-top: 15px solid #fd8f00;
  border-bottom: 15px solid #5f5f5f;
  font-size: 1.200em;
  letter-spacing: 1px;
  height: 195px;
  background: #000;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}
/* line 591, ../sass/_main.scss */
.footer a {
  color: #717171;
  text-decoration: none;
  transition: 0.3s;
}
/* line 595, ../sass/_main.scss */
.footer a:hover {
  color: #fff;
}

/* line 601, ../sass/_main.scss */
.footer .row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

/* line 616, ../sass/_main.scss */
.pop form > * {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

/* line 621, ../sass/_main.scss */
.pop form {
  background: tomato;
  display: block;
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: auto;
}

/* line 629, ../sass/_main.scss */
.pop {
  z-index: 99999;
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}

/* line 639, ../sass/_main.scss */
.pop_off {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

/* line 645, ../sass/_main.scss */
.roma {
  display: block;
}

/* line 650, ../sass/_main.scss */
.burger {
  display: none;
}

/* line 655, ../sass/_main.scss */
.ie-none {
  display: none;
}

@media (max-width: 1380px) {
  /* line 2, ../sass/_responsive.scss */
  body {
    font-size: 18px;
  }
}
@media (max-width: 1200px) {
  /* line 8, ../sass/_responsive.scss */
  body {
    font-size: 17px;
  }

  /* line 11, ../sass/_responsive.scss */
  .header__bottom .nav__menu .menu__link {
    padding: 20px;
  }
}
@media (max-width: 1150px) {
  /* line 17, ../sass/_responsive.scss */
  .list__item-h3 {
    display: block;
    margin-top: 10px;
  }

  /* line 21, ../sass/_responsive.scss */
  .arrow__desc > *,
  .arrow__desc a {
    margin: 0px 20px;
  }

  /* line 25, ../sass/_responsive.scss */
  .header__bottom .nav__menu .menu__link {
    padding: 20px 10px;
  }
}
@media (max-width: 950px) {
  /* line 31, ../sass/_responsive.scss */
  .phone_modal {
    bottom: 0;
    left: 0px;
    transform: scale(0.5);
    top: inherit;
    right: inherit;
  }

  /* line 38, ../sass/_responsive.scss */
  .header__bottom .nav__menu {
    position: absolute;
    display: block;
    background: #000;
    right: 70px;
    top: 0;
  }

  /* line 45, ../sass/_responsive.scss */
  .header__bottom .nav__menu .menu__link {
    padding: 10px 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  /* line 49, ../sass/_responsive.scss */
  .header__bottom .nav__menu .menu__link:before {
    display: none;
  }

  /* line 52, ../sass/_responsive.scss */
  .burger {
    font-size: 30px;
    color: #fff;
    text-align: right;
    border-bottom: 1px solid;
    display: block;
    padding: 14px 0;
  }
  /* line 59, ../sass/_responsive.scss */
  .burger ~ li {
    display: none;
  }

  /* line 63, ../sass/_responsive.scss */
  .d_block ~ li {
    display: block;
  }

  /* line 66, ../sass/_responsive.scss */
  .list__item-img {
    width: 70px;
  }
}
@media (max-width: 950px) {
  /* line 72, ../sass/_responsive.scss */
  body {
    font-size: 16px;
  }

  /* line 75, ../sass/_responsive.scss */
  .footer .row {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  /* line 82, ../sass/_responsive.scss */
  .header__bottom .nav__menu .menu__link {
    font-size: 1em;
  }

  /* line 85, ../sass/_responsive.scss */
  .anchor_transform_left {
    background: #fff;
    height: 20%;
    position: absolute;
    bottom: 0;
    width: -webkit-calc(50% - 64px);
    width: -moz-calc(50% - 64px);
    width: calc(50% - 30px);
    border-top: 2px solid #000;
  }

  /* line 95, ../sass/_responsive.scss */
  .anchor_transform_right {
    border-top: 2px solid #000;
    background: #fff;
    height: 20%;
    position: absolute;
    bottom: 0;
    width: -webkit-calc(50% - 67px);
    width: -moz-calc(50% - 67px);
    width: calc(50% - 30px);
    right: 0;
    border-top: 2px solid #000;
  }

  /* line 107, ../sass/_responsive.scss */
  .anchor {
    height: 50px;
  }

  /* line 110, ../sass/_responsive.scss */
  .camera {
    margin-top: -8px;
    position: relative;
  }

  /* line 114, ../sass/_responsive.scss */
  .description {
    padding-bottom: 20px;
  }
}
@media (max-width: 850px) {
  /* line 120, ../sass/_responsive.scss */
  .slider__text {
    font-size: 20px;
  }

  /* line 123, ../sass/_responsive.scss */
  .advantages .row {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  /* line 128, ../sass/_responsive.scss */
  .advantages__list {
    width: 48%;
    margin: 10px 0;
  }

  /* line 132, ../sass/_responsive.scss */
  .list__item-img {
    width: 100px;
  }

  /* line 135, ../sass/_responsive.scss */
  .list__item-h3 {
    display: inline;
    margin-top: 10px;
  }
}
@media (max-width: 800px) {
  /* line 142, ../sass/_responsive.scss */
  .arrow-orange_left {
    width: 15%;
  }

  /* line 145, ../sass/_responsive.scss */
  .arrow__desc > *,
  .arrow__desc a {
    margin: 0;
    margin-left: 10px;
  }
}
@media (max-width: 750px) {
  /* line 153, ../sass/_responsive.scss */
  .header__top .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
  }

  /* line 168, ../sass/_responsive.scss */
  .header__top .row a:first-child {
    margin: 0;
    font-size: 16px;
  }

  /* line 172, ../sass/_responsive.scss */
  .list__item-img {
    width: 80px;
  }

  /* line 175, ../sass/_responsive.scss */
  .camera__description {
    width: 100%;
  }
}
@media (max-width: 650px) {
  /* line 181, ../sass/_responsive.scss */
  .header__bottom .nav__menu {
    right: 20px;
  }

  /* line 184, ../sass/_responsive.scss */
  .camera .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  /* line 198, ../sass/_responsive.scss */
  .camera__img-left,
  .camera__img-right {
    margin: 0;
    margin-top: 15px;
  }
  /* line 202, ../sass/_responsive.scss */
  .camera__img-left img,
  .camera__img-right img {
    width: 100%;
    height: 170px;
  }

  /* line 207, ../sass/_responsive.scss */
  .camera__description {
    width: 100%;
    order: 2;
  }

  /* line 211, ../sass/_responsive.scss */
  .camera {
    margin-top: 0;
  }

  /* line 214, ../sass/_responsive.scss */
  .arrow__desc .img_right,
  .arrow__desc .img_left {
    display: none;
  }

  /* line 218, ../sass/_responsive.scss */
  .arrow-orange_left {
    width: 100%;
  }

  /* line 221, ../sass/_responsive.scss */
  .arrow-orange_right {
    width: 100%;
  }

  /* line 224, ../sass/_responsive.scss */
  .description {
    padding-bottom: 15px;
  }

  /* line 227, ../sass/_responsive.scss */
  .camera__description {
    padding-top: 15px;
  }

  /* line 230, ../sass/_responsive.scss */
  .article_form form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  /* line 239, ../sass/_responsive.scss */
  .article_form button {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
    -moz-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
    width: 100%;
    max-width: none;
  }

  /* line 248, ../sass/_responsive.scss */
  .article_form input {
    width: 100%;
    max-width: none;
    margin-bottom: 10px;
  }

  /* line 253, ../sass/_responsive.scss */
  .article_form form textarea {
    margin-bottom: 10px;
    margin-top: 0;
  }

  /* line 257, ../sass/_responsive.scss */
  .footer .row {
    flex-direction: column;
  }

  /* line 260, ../sass/_responsive.scss */
  .footer {
    text-align: center;
    height: 270px;
    padding: 20px 0;
    margin-top: -270px;
  }

  /* line 266, ../sass/_responsive.scss */
  .empty-footer {
    height: 270px;
  }

  /* line 269, ../sass/_responsive.scss */
  .footer__list:last-child {
    margin-top: 10px;
  }

  /* line 272, ../sass/_responsive.scss */
  .arrow__desc > *,
  .arrow__desc a {
    margin: 0;
  }
}
@media (max-width: 550px) {
  /* line 279, ../sass/_responsive.scss */
  .list__item-h3 {
    display: block;
  }

  /* line 282, ../sass/_responsive.scss */
  .advantages__list {
    width: 80%;
    margin: 15px auto;
    text-align: center;
  }

  /* line 287, ../sass/_responsive.scss */
  .list__item-img {
    width: 90px;
  }

  /* line 290, ../sass/_responsive.scss */
  .slider__text {
    font-size: 16px;
  }

  /* line 293, ../sass/_responsive.scss */
  #slider1 img {
    height: 150px;
    object-fit: cover;
  }

  /* line 297, ../sass/_responsive.scss */
  .name {
    font-size: 20px;
    margin-bottom: 15px;
  }

  /* line 301, ../sass/_responsive.scss */
  .name_desc {
    font-size: 16px;
  }

  /* line 304, ../sass/_responsive.scss */
  .comment__text {
    padding-left: 15px;
    padding-bottom: 20px;
    width: 120%;
  }
}
@media (max-width: 450px) {
  /* line 312, ../sass/_responsive.scss */
  .advantages__list {
    width: 100%;
  }

  /* line 315, ../sass/_responsive.scss */
  .header__bottom .nav__menu {
    background: none;
  }

  /* line 318, ../sass/_responsive.scss */
  .d_block ~ li {
    background: #000;
  }

  /* line 321, ../sass/_responsive.scss */
  .comment_img {
    width: 20%;
  }

  /* line 324, ../sass/_responsive.scss */
  .comment__text {
    width: 80%;
  }

  /* line 327, ../sass/_responsive.scss */
  .name {
    font-size: 16px;
    margin-bottom: 5px;
  }

  /* line 331, ../sass/_responsive.scss */
  .comment__text {
    width: 80%;
    font-size: 16px;
  }

  /* line 335, ../sass/_responsive.scss */
  #slider1 img {
    height: 100px;
  }

  /* line 338, ../sass/_responsive.scss */
  .footer a {
    font-size: 17px;
  }

  /* line 341, ../sass/_responsive.scss */
  .arrow__desc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 50px;
  }

  /* line 351, ../sass/_responsive.scss */
  .arrow-orange_right, .arrow-orange_left {
    height: 50px;
  }

  /* line 354, ../sass/_responsive.scss */
  .arrow__desc_href-modal {
    height: 50%;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
}
