body {
    font-family: 'openSans', sans-serif;
}

a {
    text-decoration: none;
}

lo {
    list-style-type: none;
}

.top_width {
    width: 100%;
    height: 190px;
    background: #fff;
    font-size: 0;
    text-align: center;
}

.top_center>div {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.top_center {
    max-width: 1200px;
    height: 100%;
    text-align: center;
    font-size: 0;
    display: inline-block;
    width: 100%;
}

.logo,
.contact {
    width: 19%;
    height: 100%;
}

.text {
    width: 60%;
    text-align: left;
}

.logo img {
    width: 200px;
}

.logo {
    text-align: left;
}

.text span {
    width: 50%;
    font-size: 18px;
    color: #858585;
    display: inline-block;
    position: relative;
    top: 54%;
    margin-top: -9px;
}

.contact {
    text-align: right;
    font-size: 0;
    margin-right: 10px;
}

.number {
    width: 200px;
    height: 43%;
    background: #00aa4f;
    display: inline-block;
    text-align: right;
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.number span {
    display: inline-block;
    height: 100%;
    line-height: 58px;
    background: url(../img/Layer-6.png);
    background-repeat: no-repeat;
    -o-background-size: 20px;
    background-size: 30px;
    background-position: left center;
    width: 100%;
}

.rslides_container #slider1 {
    max-width: 100%!important;
}

.container {
    width: 1200px;
}

.social {
    width: 40px;
    height: 40px;
    background-color: #00aa4f;
    display: inline-block;
    margin-left: 13px;
    margin-top: 10px;
}

.m_none {
    margin-left: 0;
}

.social_container {
    width: 200px;
    display: inline-block;
    font-size: 0;
    text-align: center;
}

.social .fa {
    line-height: 40px;
    font-size: 20px;
    color: white;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.centered-btns_nav {
    opacity: 0.3;
}

.social a:hover .fa {
    color: #00aa4f;
}

.social a {
    display: block;
    border: 1px solid transparent;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.social a:hover {
    border: 1px solid #00aa4f;
    background: white;
}

nav {
    width: 100%;
    height: 50px;
    text-align: center;
    background: #636363;
    font-size: 0;
}

.main_menu {
    display: inline-block;
    width: 100%;
    max-width: 1120px;
    padding-left: 10px;
    padding-right: 10px;
}

.main_menu>li {
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    float: left;
    list-style-type: none;
}

.main_menu>li>a {
    display: block;
    color: white;
    text-transform: uppercase;
    padding: 0px 25px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    text-decoration: none;
}

.main_menu>li>a:hover {
    background-color: #00aa4f;
}

.bottom_bg {
    background-image: url(../img/dropdown-copy.png);
    -o-background-size: 10px;
    background-size: 10px;
    background-position: 95%center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 999;
}

.bottom_bg>ul {
    position: absolute;
    width: 100%;
    background: #858585;
    font-size: 16px;
    text-align: left;
    display: none;
}

.bottom_bg>ul>li {
    list-style-type: none;
}

.bottom_bg>ul>li>a {
    color: white;
    display: block;
    border-bottom: 1px solid #4a4545;
    padding-left: 10px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.bottom_bg>ul>li>a:hover {
    background: #00aa4f;
}

li:hover ul {
    display: block;
}

#slider1 p {
    position: absolute;
    right: 10px;
    width: 50%;
    text-align: left;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 0 0 2px black;
    bottom: 50%;
    margin-bottom: -95px;
}

#slider1 p span {
    text-transform: uppercase;
    font-size: 70px;
    display: block;
}

nav {
    position: relative;
}

.menu_mobile {
    position: absolute;
    z-index: 99999;
    right: 5%;
    display: none;
}

.menu_mobile>li>a {
    font-size: 15px;
    color: white;
    background: #636363;
    display: block;
    padding: 10px 20px;
    text-align: left;
}

.menu_mobile>li {
    width: 100%;
    border-bottom: 1px solid grey;
}

.menu_mobile>li>ul>li>a {
    font-size: 14px;
    color: white;
    background: grey;
    display: block;
    padding: 8px 18px;
    text-align: left;
}

.menu_mobile>li>ul {
    display: none;
}

.menu_mobile>li:hover>ul {
    display: block;
}

.menu_mobile .logo_menu>a {
    -webkit-border-radius: 10px;
    border-radius: 5px;
    background-color: grey;
    width: 100px;
    height: 30px;
    line-height: 30px;
    background-image: url('../img/menu.png');
    background-repeat: no-repeat;
    background-position: 90% center;
    -o-background-size: 30px;
    background-size: 30px;
}

.menu_mobile>li {
    display: none;
}

.menu_mobile .logo_menu {
    display: block;
}

.menu_mobile:hover>li {
    display: block;
}

.line {
    width: 100%;
    max-width: 1200px;
    font-size: 20px;
    color: white;
    text-align: left;
    padding-right: 10px;
    text-transform: uppercase;
    line-height: 45px;
}

.container_line {
    width: 100%;
    position: relative;
    height: 45px;
}

#wrapper,
.rslides_container {
    float: none;
}

footer {
    width: 100%;
    height: 250px;
   background-color: #ebebeb;
    position: absolute;
    bottom: 0;
}

html,
body {
    min-height: 100%;
}

body {
    position: relative;
    padding-bottom:250px;
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 0;
}

.line span {
    background: #00aa4f;
    display: inline-block;
    height: 100%;
}

.line_green {
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
}

.line {
    background: #fff;
    position: relative;
    margin-bottom: 40px;
}

.text_green {
    padding-right: 20px;
}

.first .text_one {
    width: 80%;
    font-size: 16px;
}

.bg_div {
    background-image: url(images/Layer-25.png);
    background-position: center center;
    background-repeat: no-repeat;
    -o-background-size: 55%;
    background-size: 55%;
    display: inline-block;
    width: 100%;
    height: 160px;
}

.agro_icon {
    width: 25%;
    display: inline-block;
    font-size: 0;
    text-align: center;
    margin-top: 40px;
    vertical-align: top;
}

.agro_icon img {
    width: 65px;
}

.green_span_block {
    display: block;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    color: #9fce4e;
    padding: 20px 0;
}

.text_icon {
    font-size: 14px;
}

.bg_b {
    background-image: url(images/Layer-15.png);
    background-position: center 13px;
}

.bg_c {
    background-image: url(images/Layer-16.png);
    background-position: center;
}

.bg_d {
    background-image: url(images/НОВАЯ-ТМ.png);
    background-position: center;
}

.galery {
    font-size: 0;
    width: 100%;
    margin-bottom: 30px;
}

.galery_top {
    width: 100%;
}

.galery_top>div {
    display: inline-block;
    width: 25%;
    height: 100%;
    position: relative;
}

.galery_section>img {
    max-width: 100%;
}

.opacity_cont {
    width: 100%;
    height: 100%;
    background: rgba(0, 170, 79, 0.8);
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

.opacity_cont:hover {
    opacity: 1;
}

.opacity_cont img {
    width: 70px;
    margin-top: 30px;
}

.white_opacity {
    display: block;
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    margin: 25px;
    position: relative;
    margin-bottom: 50px;
}

.button_opacity {
    display: inline-block;
}

.button_opacity a {
    padding: 12px 0px;
    color: #fff;
    border: 1px solid #fff;
    text-transform: uppercase;
    display: block;
    font-size: 14px;
    width: 180px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-top: none;
    border-bottom: none;
}

.button_opacity a:hover {
    background: #fff;
    color: rgba(0, 170, 79, 0.8);
}

.white_opacity:before {
    width: 100%;
    display: inline-block;
    height: 1px;
    background: #6bdda0;
    position: absolute;
    top: 180%;
    content: '';
    left: 0;
}

.galery_bottom {
    width: 100%;
    padding: 10px 0;
    font-size: 0;
    background-color: #333333;
}

.galery_bottom>div {
    display: inline-block;
    font-size: 25px;
    color: #ffffff;
    width: 33.33%;
}

.galery_b_a {
    text-align: right;
}

.galery_b_b {
    text-align: center;
}

.galery_b_c {
    text-align: left;
}

.galery_bottom span {
    display: block;
    text-align: center;
}

.galery_bottom .ta_center {
    display: inline-block;
}
.container_new{
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
  
    -webkit-box-pack:justify;
  
    -webkit-justify-content:space-between;
  
    -moz-box-pack:justify;
  
    -ms-flex-pack:justify;
  
    justify-content:space-between;
}
.new {
    width: 31%;

}

.icon_new {
    display: block;
    padding-left: 40px;
    font-size: 16px;
    color: #727272;
    background: url(../img/Layer-21.png);
    font-weight: 600;
    -o-background-size: 30px;
    background-size: 30px;
    background-repeat: no-repeat;
   background-position: center left;
    text-align: left;
    margin-bottom: 20px;
    height: 30px;
    line-height: 30px;
}

.green_new{
    font-size: 14px;
    color: #00aa4f;
    display:block;
    text-align: left;
    margin-bottom: 10px;
}
.text_new{
   font-size: 13px;
    text-align: left;
    display: block;
}.text_new a{
    font-size: 14px;
    color: #00aa4f;
}
.new_button{
    width:150px;
    border-left:1px solid #00aa4f;
    border-right:1px solid #00aa4f;
    height: 30px;
    line-height: 30px;
    margin:40px;
    text-align: center;
}
.new_button a{
 color: #00aa4f;   
    text-transform:uppercase;
    font-size: 14px;
}
footer .wrap{
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    height: 220px;
   padding-top:30px;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -moz-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
   
}


.column_one{
        margin-top: -10px;
    width: 200px;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
   
 
}
.column_one img{
    width: 70px;
 -webkit-filter: grayscale(100%);
 filter: grayscale(100%);
    margin:0 auto;
    display:block;
    
}

.argo_foot{
    font-size: 13px;
    color: #404040;
    margin-top: 10px;
    display: block;
}

.text_one, .one_contact{
    font-size: 12px;
    
    display:block;
}
.column_two{
    width: 150px;
    font-size: 13px;
    color:#404040;
   
}
.column_two span{
    display:block;
}
.my_product, .drenaj, .product_your{
 margin-bottom: 10px;
    display: block;
}
.text_one{
    margin:10px 0;
}
.column_three, .column_four{
    width: 100px;
    font-size: 13px;
}
.column_three span, .column_four span{
    display:block;
    margin-bottom: 5px;
}

.column_five a{
font-size: 13px;
    
}
.column_five{
    width: 100px;
}





