html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  font-size: 15px;
  color: #000;
  font-weight: 400;
  background: #fff;
  font-family: "ArciformSanscyr", sans-serif;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  letter-spacing: .05em;
  background-color: #ed7d31; }

html {
  font-size: 1px; }

.footer-page {
  margin-top: auto; }

input, textarea {
  -webkit-box-shadow: none;
          box-shadow: none; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: inherit; }

img {
  max-width: 100%;
  display: block; }

svg {
  display: block;
  height: 100%;
  width: 100%; }

.hidden {
  display: none; }

@font-face {
  font-family: "ArciformSanscyr";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ArciformSanscyr-lat-Regular/ArciformSanscyr.eot?") format("eot"), url("../fonts/ArciformSanscyr-lat-Regular/ArciformSanscyr.ttf") format("truetype"), url("../fonts/ArciformSanscyr-lat-Regular/ArciformSanscyr.woff") format("woff"), url("../fonts/ArciformSanscyr-lat-Regular/ArciformSanscyr.woff2") format("woff2"); }

@font-face {
  font-family: "LCChalk";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/LCChalk/LCChalk.eot?") format("eot"), url("../fonts/LCChalk/LCChalk.ttf") format("truetype"), url("../fonts/LCChalk/LCChalk.woff") format("woff"), url("../fonts/LCChalk/LCChalk.woff2") format("woff2"); }

@font-face {
  font-family: "CenturyGothic";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/CenturyGothic/CenturyGothic.eot?") format("eot"), url("../fonts/CenturyGothic/CenturyGothic.ttf") format("truetype"), url("../fonts/CenturyGothic/CenturyGothic.woff") format("woff"), url("../fonts/CenturyGothic/CenturyGothic.woff2") format("woff2"); }

@font-face {
  font-family: "Arial Rounded MT Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ArialRoundedMTBold/ArialRoundedMTBold.eot?") format("eot"), url("../fonts/ArialRoundedMTBold/ArialRoundedMTBold.ttf") format("truetype"), url("../fonts/ArialRoundedMTBold/ArialRoundedMTBold.woff") format("woff"), url("../fonts/ArialRoundedMTBold/ArialRoundedMTBold.woff2") format("woff2"); }

.container {
  max-width: 1220px;
  width: 80%;
  padding: 0 15px;
  margin: 0 auto; }

.header-page, .footer-page {
  min-height: 100px;
  background-color: #ed7d31; }

.header-page {
  border-bottom: 2px solid #000;
  position: relative;
  margin-bottom: 10px; }
  .header-page:before, .header-page:after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background: #000;
    position: absolute;
    left: 0; }
  .header-page:before {
    bottom: -7px; }
  .header-page:after {
    bottom: -12px; }
  .header-page > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.main-page {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-image: -webkit-repeating-linear-gradient(#ed7d31, #ed7d31 6px, #000 0, #7d421a 7px);
  background-image: repeating-linear-gradient(#ed7d31, #ed7d31 6px, #000 0, #7d421a 7px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .main-page .container {
    background-color: #ed7d31; }

.logo {
  display: block;
  font-size: 1px;
  width: 410em;
  height: 134em; }

.logo__pic {
  display: block;
  width: 100%;
  height: 100%; }
  .logo__pic > svg {
    fill: #000; }

.header-page__logo {
  padding-top: 25px;
  padding-bottom: 32px; }

.header-page__logo, .header-page__menu {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.header-page__menu {
  overflow: hidden; }

.header-page__click {
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  -webkit-box-flex: .8;
  -webkit-flex: .8;
      -ms-flex: .8;
          flex: .8;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.contact-info__number {
  font-family: "Arial Rounded MT Bold", sans-serif;
  font-weight: 600;
  font-size: 56rem;
  margin-right: -8px;
  letter-spacing: -0.02em;
  margin-bottom: 2px;
  display: inline-block; }

.contact-info__number-code {
  font-size: 38rem; }

.contact-info {
  width: 50%;
  text-align: right; }

.contact-info__street {
  font-size: 25rem;
  font-family: "CenturyGothic", sans-serif;
  margin-right: -1px;
  margin-bottom: 10px; }

.contact-info__leng-soc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.leng-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.leng-list__item:not(:last-child) {
  margin-right: 8px; }

.leng-list__link {
  font-size: 13rem;
  padding: 1px 3px;
  display: inline-block;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  letter-spacing: 0; }

.leng-list__item.active > .leng-list__link {
  background: #000;
  color: #ed7d31; }

.contact-info__leng {
  margin-right: 8px; }

.social-link {
  display: block;
  font-size: 1px;
  height: 36px;
  width: 36px; }

.social-list__ico {
  display: block;
  width: 100%;
  height: 100%; }

.social-list__item:not(:last-child) {
  margin-right: 13px; }

.social-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.header-page__menu-slide {
  width: 200%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 25px;
  padding-bottom: 32px; }

.nav-page {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.nav-item__ico {
  background-image: url("../img/sprite/head-ico.png");
  background-repeat: no-repeat;
  display: block;
  -webkit-transition: opacity .2s;
  transition: opacity .2s; }

.nav-item__ico.nav-item__ico-mi {
  width: 72px;
  height: 45px;
  background-position: -5px -60px; }

.nav-item__ico.nav-item__ico-katalog {
  width: 33px;
  height: 45px;
  background-position: -70px -5px; }

.nav-item__ico.nav-item__ico-news {
  width: 44px;
  height: 44px;
  background-position: -113px -5px; }

.nav-item__ico.nav-item__ico-cont {
  width: 55px;
  height: 45px;
  background-position: -5px -5px; }

.nav-page__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 8px; }

.nav-page__item:not(:last-child) {
  margin-right: 20px; }

.nav-page__link:hover > .nav-item > .nav-item__text > *:before {
  height: 500px; }

.nav-page__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
  height: 60px;
  position: relative;
  will-change: transform, height;
  -webkit-transform: rotateZ(0);
      -ms-transform: rotate(0);
          transform: rotateZ(0); }
  .nav-page__link:hover .nav-item__ico {
    opacity: 0; }
  .nav-page__link:hover .nav-item__text {
    opacity: 1; }

.nav-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.nav-item__text {
  white-space: nowrap;
  position: absolute;
  color: #fad9c2;
  font-size: 20rem;
  letter-spacing: -.1em;
  left: 0;
  -webkit-transition: opacity .1s;
  transition: opacity .1s;
  opacity: 0;
  right: 50%;
  height: 20px;
  margin: auto;
  top: 0;
  bottom: 0; }
  .nav-item__text > b {
    position: relative; }
    .nav-item__text > b:before {
      content: '';
      display: block;
      position: absolute;
      width: 1px;
      height: 0;
      bottom: .5em;
      left: .11em;
      right: 0;
      margin: auto;
      background: currentColor;
      -webkit-transition: .3s;
      transition: .3s;
      will-change: transform; }
    .nav-item__text > b:nth-child(1):before {
      -webkit-transition-delay: .02s;
              transition-delay: .02s; }
    .nav-item__text > b:nth-child(2):before {
      -webkit-transition-delay: .04s;
              transition-delay: .04s; }
    .nav-item__text > b:nth-child(3):before {
      -webkit-transition-delay: .06s;
              transition-delay: .06s; }
    .nav-item__text > b:nth-child(4):before {
      -webkit-transition-delay: .08s;
              transition-delay: .08s; }
    .nav-item__text > b:nth-child(5):before {
      -webkit-transition-delay: .1s;
              transition-delay: .1s; }
    .nav-item__text > b:nth-child(6):before {
      -webkit-transition-delay: .12s;
              transition-delay: .12s; }
    .nav-item__text > b:nth-child(7):before {
      -webkit-transition-delay: .14s;
              transition-delay: .14s; }
    .nav-item__text > b:nth-child(8):before {
      -webkit-transition-delay: .16s;
              transition-delay: .16s; }
    .nav-item__text > b:nth-child(9):before {
      -webkit-transition-delay: .18s;
              transition-delay: .18s; }
  .nav-item__text .ch:before {
    bottom: .6em; }
  .nav-item__text .y:before {
    bottom: 0.3em; }
  .nav-item__text .o:before {
    bottom: .7em; }
  .nav-item__text .mimin-ico:before {
    bottom: .8em;
    left: .0em; }

.mimin-ico {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-left: 5px; }

.nav-item__text.nav-item__text--margin {
  margin-left: -25px; }

.header-page.active .header-page__menu-slide {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%); }

.clip {
  font-size: 1px;
  display: block; }

.clip__input {
  display: none; }

.clip__cont {
  width: 74em;
  height: 38em;
  position: relative;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  background-color: currentColor;
  display: block;
  cursor: pointer;
  -webkit-transition: color .4s;
  transition: color .4s;
  color: #020202; }

.clip__btn {
  position: absolute;
  height: 30em;
  width: 30em;
  background: #ed7d31;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  left: 5em;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 3; }

.clip__text {
  position: absolute;
  font-size: 15em;
  width: 1.3em;
  color: #ed7d31;
  right: .7em;
  line-height: .6;
  top: .6em;
  z-index: 2;
  display: block; }
  .clip__text::-moz-selection {
    background: transparent; }
  .clip__text::selection {
    background: transparent; }

.header-page.active .clip__input + .clip__cont {
  color: #fad9c2; }
  .header-page.active .clip__input + .clip__cont .clip__btn {
    left: 40em; }
  .header-page.active .clip__input + .clip__cont .clip__line {
    left: 51em;
    -webkit-transform: rotate(67deg);
    -ms-transform: rotate(55deg);
        transform: rotate(55deg);
    top: -1em; }
    .header-page.active .clip__input + .clip__cont .clip__line:before {
      border-color: #fad9c2; }

.clip__line {
  position: absolute;
  top: 2em;
  display: block;
  overflow: hidden;
  left: -15em;
  height: 10em;
  -webkit-transform: rotate(-43deg);
      -ms-transform: rotate(-43deg);
          transform: rotate(-43deg);
  width: 35em;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 1; }
  .clip__line:before {
    content: "";
    display: block;
    width: 39em;
    height: 39em;
    border: 2px solid  #020202;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    -webkit-transition: border-color .3s;
    transition: border-color .3s; }

.clip__tongue {
  position: absolute;
  display: block;
  bottom: -29em; }
  .clip__tongue:after {
    content: "";
    display: block;
    position: absolute;
    background-color: currentColor;
    width: 12em;
    height: 10em;
    left: 56em;
    bottom: -1em;
    -webkit-border-radius: 0 0 50% 50%;
            border-radius: 0 0 50% 50%;
    -webkit-transform: rotate(-37deg);
        -ms-transform: rotate(-37deg);
            transform: rotate(-37deg);
    -webkit-transition: background-color .3s;
    transition: background-color .3s; }

.clip__tongue-line {
  left: 0em;
  height: 17em;
  overflow: hidden;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  display: block; }
  .clip__tongue-line:before {
    content: "";
    display: block;
    width: 70em;
    height: 50em;
    border: 2px solid;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    -webkit-transition: border-color .3s;
    transition: border-color .3s; }

.main-page {
  overflow: hidden; }
  .main-page > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.main-page__video {
  width: 65%;
  padding-right: 15px;
  margin: auto;
  padding-top: 4px; }

.main-page__slide {
  width: 35%; }

.video-wrap {
  background: #b25e25;
  padding-bottom: 80%;
  position: relative;
  overflow: hidden; }

.main-page__slide-item {
  height: 100%;
  position: relative; }

.main-page__wrap {
  height: 100%;
  -webkit-transition: .3s;
  transition: .3s;
  transition: .3s;
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%); }
  .main-page__wrap.js-0 {
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%); }
  .main-page__wrap.js-33 {
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%); }
  .main-page__wrap.js-66 {
    -webkit-transform: translateY(-200%);
        -ms-transform: translateY(-200%);
            transform: translateY(-200%); }

.main-page__slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative; }

.main-page__wp-hiden {
  height: 100%;
  overflow: hidden; }

.main-page__menu {
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: right;
  padding-bottom: 10px; }

.nav-slider {
  font-size: 27rem;
  letter-spacing: .09em; }

.nav-slider__click {
  cursor: pointer;
  position: relative;
  height: 25px;
  display: inline-block; }

.nav-slider__item.active {
  color: #fad9c2; }
  .nav-slider__item.active .nav-slider__click:before, .nav-slider__item.active .nav-slider__click:after {
    visibility: visible; }

.nav-slider__click:before {
  content: '';
  position: absolute;
  height: 1px;
  background: currentColor;
  width: 100vw;
  bottom: -3px;
  left: 0;
  display: block;
  visibility: hidden; }

.nav-slider__click:after {
  height: 120%;
  width: 100vw;
  content: '';
  display: block;
  left: -webkit-calc( 100% + 15px);
  left: calc( 100% + 15px);
  background-image: -webkit-repeating-linear-gradient(#ed7d31, #ed7d31 6px, currentColor 0, currentColor 7px);
  background-image: repeating-linear-gradient(#ed7d31, #ed7d31 6px, currentColor 0, currentColor 7px);
  top: 0;
  position: absolute;
  visibility: hidden; }

.prod-sliderm, .slick-track, .slick-slide, .slick-slider-1 {
  height: 100%; }

.slick-list {
  height: 100%; }

.prod-slider__item {
  position: relative; }

.product-img {
  position: relative;
  height: 0; }

.product-img__pic {
  max-height: 70%;
  max-width: 70%; }

.prod-slider__wp-img, .product-img {
  height: 100%; }

.product-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative; }

.product-img__title {
  position: absolute;
  top: 15px;
  left: 0;
  padding-left: 110px;
  padding-right: 110px;
  text-align: center;
  font-size: 15rem;
  width: 100%;
  font-weight: 600; }

.prod-slider .slick-arrow {
  position: absolute;
  top: 15px;
  font-size: 0;
  background: none;
  border: none;
  width: 77px;
  height: 14px;
  outline: none;
  cursor: pointer;
  background-repeat: no-repeat;
  z-index: 5; }
  .prod-slider .slick-arrow.slick-prev {
    left: 15px;
    background-image: url("../img/ico/arrow_left.svg"); }
  .prod-slider .slick-arrow.slick-next {
    right: 15px;
    background-image: url("../img/ico/arrow_right.svg"); }

.product-img.best:before {
  background-image: url("../img/product/bestseller.png");
  background-repeat: no-repeat;
  content: '';
  position: absolute;
  background-size: contain;
  width: 140px;
  height: 140px;
  z-index: 5;
  left: 15px;
  top: 100px; }

.prod-slider__link {
  position: absolute;
  bottom: 40px;
  left: 15px;
  font-size: 15rem;
  color: #fad9c2; }

.slick-slider-2, slick-slider-1 {
  width: 100%;
  height: 100%; }

.main-page__absolute-slid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.discount {
  position: absolute;
  top: 80px;
  font-size: 64rem;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 20px;
  font-family: "LCChalk", sans-serif;
  z-index: 4;
  top: 22%;
  left: -4%; }

.main-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block; }

.video-bord {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(178, 94, 37, 0.93); }

.video-bord__btn {
  background-image: url("../img/ico/play-triangle.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 85px;
  width: 65px;
  cursor: pointer; }

.footer-page {
  border-top: 2px solid #000;
  position: relative;
  margin-top: 14px;
  padding-top: 45px;
  padding-bottom: 45px;
  font-size: 1px; }
  .footer-page > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer-page:before, .footer-page:after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background: #000;
    position: absolute;
    left: 0; }
  .footer-page:before {
    top: -7px; }
  .footer-page:after {
    top: -12px; }

.cont-info__phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.footer-page__contact, .footer-page__dw {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.cont-info__adress {
  font-size: 12em;
  font-weight: 600;
  margin-bottom: 1px; }

.cont-info__index {
  font-family: "Arial Rounded MT Bold", sans-serif;
  letter-spacing: -0.06em; }

h
.cont-info__phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.cont-info__phone-number {
  margin-right: 5px;
  font-family: "Arial Rounded MT Bold", sans-serif;
  font-size: 22em;
  letter-spacing: 0; }

.cont-info__email {
  color: #fad9c2;
  font-size: 11em;
  letter-spacing: .1em; }

.form-add__btn {
  background: none;
  border: none;
  display: block;
  cursor: pointer;
  font-family: "ArciformSanscyr", sans-serif;
  font-size: 12em;
  outline: none;
  padding: 0;
  font-weight: 700;
  letter-spacing: .09em;
  line-height: 1;
  text-align: left; }
  .form-add__btn mark {
    background: none;
    color: #fad9c2; }

.form-add {
  padding-left: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .form-add ::-webkit-input-placeholder {
    color: #ed7d31;
    opacity: 1;
    -webkit-transition: color .3s;
    transition: color .3s;
    font-family: "ArciformSanscyr", sans-serif; }
  .form-add ::-moz-placeholder {
    color: #ed7d31;
    opacity: 1;
    -webkit-transition: color .3s;
    transition: color .3s;
    font-family: "ArciformSanscyr", sans-serif; }
  .form-add :-moz-placeholder {
    color: #ed7d31;
    opacity: 1;
    -webkit-transition: color .3s;
    transition: color .3s;
    font-family: "ArciformSanscyr", sans-serif; }
  .form-add :-ms-input-placeholder {
    color: #ed7d31;
    opacity: 1;
    -webkit-transition: color .3s;
    transition: color .3s;
    font-family: "ArciformSanscyr", sans-serif; }
  .form-add :focus::-webkit-input-placeholder {
    color: transparent; }
  .form-add :focus::-moz-placeholder {
    color: transparent; }
  .form-add :focus:-moz-placeholder {
    color: transparent; }
  .form-add :focus:-ms-input-placeholder {
    color: transparent; }

.form-add__input {
  margin-right: 5px;
  display: block;
  border: none;
  color: #fad9c2;
  padding: 0 11px;
  font-family: "ArciformSanscyr", sans-serif;
  outline: none;
  background: none;
  background-image: url(../img/bg/bg-inp.png);
  background-position: 50% 8px;
  background-repeat: no-repeat;
  background-size: contain;
  height: 39px;
  width: 118px; }

.cont-info.footer-contact__item {
  margin-bottom: 7px; }

.form-search__input {
  display: block;
  width: 114px;
  height: 20px;
  font-size: 12em;
  color: #fad9c2;
  background: none;
  border: none;
  font-family: "ArciformSanscyr", sans-serif;
  outline: none;
  border-bottom: 1px solid #000;
  padding: 0 10px;
  margin-right: 8px; }

.form-search__label {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -5px;
  padding-left: 5px; }

.form-search__btn {
  background: none;
  padding: 0;
  outline: none;
  border: none;
  display: block;
  cursor: pointer; }

.form-search__ico {
  display: block;
  width: 23px;
  height: 23px;
  margin-bottom: -13px; }

.footer-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer-page__menu {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  max-width: 370px; }

.footer-list__link {
  font-size: 12em;
  font-weight: 600;
  -webkit-transition: color .3s;
  transition: color .3s; }
  .footer-list__link:hover {
    color: #fad9c2; }

.footer-page__dw {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.copyright {
  font-size: 11em;
  font-weight: 600;
  text-align: right; }

.download-sect__lists {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.download-wp {
  font-size: 12em;
  font-weight: 600;
  text-align: center; }

.download-wp.download-wp--fff {
  text-align: right; }
  .download-wp.download-wp--fff .download-wp__title {
    color: #fad9c2;
    margin-bottom: 2px;
    display: inline-block; }
  .download-wp.download-wp--fff .download-wp__link {
    padding: 4px 6px;
    background-image: url("../img/bg/bg-text1.png"); }

.download-sect__item:not(:last-child) {
  margin-right: 10px; }

.download-wp__link {
  color: #ed7d31;
  display: inline-block;
  padding: 5px 10px;
  background-image: url("../img/bg/bg-text2.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100% 91%; }
