@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy/Gilroy-Light.woff2') format('woff2'),
  url('../fonts/gilroy/Gilroy-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroy/Gilroy-ExtraBold.woff2') format('woff2'),
  url('../fonts/gilroy/Gilroy-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('../fonts/geometria/Geometria.woff2') format('woff2'),
  url('../fonts/geometria/Geometria.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('../fonts/geometria/Geometria-ExtraBold.woff2') format('woff2'),
  url('../fonts/geometria/Geometria-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
