.top-section{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-image: linear-gradient(rgba(243, 129, 129, 0.95),rgba(252, 227, 138, 0.85)), url('../img/top-sect-bg.jpg');
	background-position: center;
	background-size: cover;
	color: #fff;
}

.header-page, .top-slider{
	flex-flow: 1;
	flex-basis: auto;
}

.title-sect{
	text-align: center;
	padding: 20px 0;
	flex-flow: 1;
	flex-basis: auto;
}

.title-sect--sub-title{
	font-size: 72px;
	font-family: $kaushan;
	margin-bottom: 40px;
}

.title-sect--main-title{
	font-size: 100px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 0.9;
	margin-bottom: 70px;
}

@media screen and (min-width: 1700px) {
	.title-sect--main-title{
		font-size: 150px;
	}
}

.learn-more{
	font-size: 14px;
	padding-top: 4.1em;
	position: relative;
	
}

.learn-more--btn{
	display: inline-block;
	text-transform: uppercase;
	font-size: 1em;
	padding: .5em 2.1em;
	border: 3px solid;
	transition: color .3s;
	position: relative;
	
	&:before{
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: -4.1em;
		margin: auto;
		width: 40%;
		height: 3px;
		background: currentColor;
		transition: .3s;
		pointer-events: none
	}
	
	&:hover{
		color: $yellow;
		
		&:before{
			top: 50%;
			left: 50%;
			transform: translateY(-50%) translateX(-50%);
			width: 110%;
			height: 150%;
			background: transparent;
			border: 3px solid $yellow;
		}
	}
	
	&:active{
		&:before{
			border-width: 6px;
		}
	}
}

.top-slider{
	display: flex;
	align-items: flex-end;
}

.slick-slider-1{
	margin-right: -15px;
	margin-left: -15px;
}


.prod-slider--item{
	padding: 0 15px;	
}

.slider-links{
	display: block;
	padding: 1.31em 0;
	border-top: 3px solid;
	outline: none;
	position: relative;
	
	&:before{
		content: '';
		position: absolute;
		top: -3px;
		left: 0;
		height: 3px;
		width: 0;
		background: $red;
		transition: width .3s;
	}
	
	&:hover{
		&:before{
			width: 70px;
		}
	}
}

.slider-links--number{
	font-size: 1.6em;
	font-weight: 700;
	margin-right: 2px;
}

.slider-links--text{
	text-transform: uppercase;
	letter-spacing: .12em;
}



