@charset "UTF-8";
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?70335678");
  src: url("../fonts/fontello.eot?70335678#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?70335678") format("woff2"), url("../fonts/fontello.woff?70335678") format("woff"), url("../fonts/fontello.ttf?70335678") format("truetype"), url("../fonts/fontello.svg?70335678#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?70335678#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-arrow:before {
  content: '\e800'; }

/* '' */
.icon-comment:before {
  content: '\e801'; }

/* '' */
.icon-dzen:before {
  content: '\e802'; }

/* '' */
.icon-home:before {
  content: '\e803'; }

/* '' */
.icon-mech:before {
  content: '\e804'; }

/* '' */
.icon-pen:before {
  content: '\e806'; }

/* '' */
.icon-searcg-ico:before {
  content: '\e809'; }

/* '' */
.icon-zennn:before {
  content: '\e80b'; }

/* '' */
.tags {
  display: block;
  background: #fff;
  border: 1px solid;
  font: normal normal normal 13px/1.25 Helmet, FreeSans, sans-serif;
  color: #000;
  padding: .25em .25em 0 0;
  cursor: text;
  overflow: hidden; }

.tags-input + span,
.tags-output {
  float: left;
  min-height: 1.25em;
  margin: 0 0 0 .25em;
  padding: 0;
  background: 0 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: left;
  text-shadow: none; }

.tags-input + span,
.tags-output span {
  float: left;
  background: red;
  color: inherit;
  margin: 0 .25em .25em 0;
  padding: .25em .4375em;
  -webkit-border-radius: .125em;
          border-radius: .125em;
  cursor: default; }

.tags-input + span {
  background: 0 0;
  -webkit-border-radius: 0;
          border-radius: 0; }

.tags-output a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  margin-left: .4375em; }

.tags-output a:before {
  content: '\00D7'; }

.tags-output:empty + .tags-input + span:empty:before {
  content: attr(placeholder);
  opacity: .5;
  display: block;
  cursor: text; }

.tags-output:empty + .tags-input + span:empty:focus:before {
  display: none; }
